.navigationItems {
    margin: 0;
    padding-top: 5px;
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
    font-family: 'Berkshire Swash', cursive;
    font-size: 30px;
    color:rgb(68, 109, 103);
}