.navigationItems-toolbar {
    margin: 0;
    padding-top: 15px;
    // padding-left: 140px;
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
    font-family: 'Berkshire Swash', cursive;
    font-size: 30px;
    color:rgb(68, 109, 103);
}

@media (max-width: 700px){
    .navigationItems-toolbar {
        margin: 0;
        padding-top: 20px;
        // padding-left: 140px;
        list-style: none;
        display: flex;
        align-items: center;
        height: 100%;
        font-family: 'Berkshire Swash', cursive;
        font-size: 50px;
        color:rgb(68, 109, 103);
    }
    
}


@media only screen and (max-device-width : 425px){
    .navigationItems-toolbar {
       display: none;
    }
}

.navigationItems-sideDrawer {
    list-style: none;
    font-family: 'Berkshire Swash', cursive;
    font-size: 64px;
    color:rgb(30, 59, 55);
    margin-top: 60px;
}