.feedback {
    position: relative;
    .feedback-clear {
        width: 300px;
        height: 370px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: rgb(238, 203, 184);
        box-shadow: 5px 5px 5px 3px rgb(73, 38, 52);
        margin: 0 20px 0 20px;
        border-radius: 7px;
        z-index: 10;
        .feedback-image {
            >img{
                position: relative;
                top: 20px;
                border-radius: 50%;
                width: 100px;
                height: 100px;
            }
            .feedback-image-icon {
                position: relative;
                top: -15px;
                left: 60px;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: rgb(249, 142, 108);
                display: flex;
                justify-content: center;
                align-items: center;
                .icon-quate {
                    color: rgb(111, 9, 55);
                }
            }
        }
        .feedback-text {
            font-family: 'Indie Flower', cursive;
            width: 250px;
            font-size: 19px;
            text-align: center;
            opacity: 0.7;
            color: rgb(42, 20, 33);
        }
        .feedback-name {
            font-family: 'Indie Flower', cursive;
            text-align: center;
            font-size: 20px;
            padding-bottom: 5px;
            color: rgb(42, 20, 33);
        }
        .feedback-position {
            font-family: 'Indie Flower', cursive;
            text-align: center;
            font-size: 17px;
            opacity: 0.5;
            padding-bottom: 15px;
            color: rgb(42, 20, 33);
        }
    }
}

.card1-move-to-right {
//    border: 2px solid red;
   position: relative;
   left: 2380px;
}
.card1-move-to-right-updated {
    //    border: 2px solid red;
       position: relative;
       left: 480px;
    }

.card2-move-to-right {
//    border: 2px solid red;
    position: relative;
    left: 2480px;
}
.card2-move-to-right-updated {
    //    border: 2px solid red;
        position: relative;
        left: 2480px;
    }

.card3-move-to-right {
//    border: 2px solid red;
    position: relative;
    left: 2580px;
}
.card3-move-to-right-updated {
    //    border: 2px solid red;
        position: relative;
        left: 2580px;
    }

.card4-move-to-right {
//    border: 2px solid red;
    position: relative;
    left: 2680px;
}
.card4-move-to-right-updated {
    //    border: 2px solid red;
        position: relative;
        left: 2680px;
    }

.card5-move-to-right {
//    border: 2px solid red;
    position: relative;
    left: 2780px;
}
.card5-move-to-right-updated {
//    border: 2px solid red;
    position: relative;
    left: 2780px;
}

.card6-move-to-right {
//    border: 2px solid red;
    position: relative;
    left: 2880px;
}
.card6-move-to-right-updated {
//    border: 2px solid red;
    position: relative;
    left: 2880px;
}

.card7-move-to-right {
//    border: 2px solid red;
    position: relative;
    left: 2980px;
}
.card7-move-to-right-updated {
//    border: 2px solid red;
    position: relative;
    left: 2980px;
}
