.peoplesFeedback {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 210px;
    .peoplesFeedback-text {
        font-size: 20px;
        width: 700px;
        text-align: center;
    }
    .peoplesFeedback-dots {
        display: flex;
        height: 70px;
        cursor: pointer;
        z-index: 100;
        .peoplesFeedback-dot {
            border: 1.5px solid rgb(117, 71, 129);
            border-radius: 50%;
            background: rgba(117, 71, 129, 0.4);
            width: 12px;
            height: 12px;
            margin: 3px;
        }
        .peoplesFeedback-dot-chosen {
            border: 1.5px solid rgb(117, 71, 129);
            border-radius: 50%;
            background: rgba(117, 71, 129, 1);
            width: 12px;
            height: 12px;
            margin: 3px;
        }
    }
}

@media only screen and (max-width: 845px){
    .peoplesFeedback {
        .peoplesFeedback-text {
            width: 500px;
        }
    }
}

@media only screen and (max-width: 758px){
    .peoplesFeedback {
        .peoplesFeedback-text {
            font-size: 18px;
            width: 300px;
        }
    }
}

@media only screen and (max-width: 442px){
    .peoplesFeedback {
        .peoplesFeedback-text {
            font-size: 15px;
            width: 200px;
        }
    }
}
