.backdrop-home {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 650;
    left: 0;
    top: 0;
    background: transparent;
}

.backdrop-magnifier {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 800;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
}

