.chip{
    margin-left: 5px;
    opacity: 0;
    background-color: black;
    width: 20px;
    height: 20px;
    animation: wave 120s;
}

@keyframes wave {
    // 0%   {opacity: 0;}
    25%  {opacity: 0;}
    50%  {opacity: 1;}
    75%  {opacity: 0;}
    // 100% {opacity: 0;}
}