.project-number-1 {
    position: absolute;
    top: 160px;
    left: 15px;
    width: 240px;
    cursor: pointer;
    .project-image {
        .project-image-border1 {
            border: 3px solid rgb(39, 49, 85);
            width: 252px;
            height: 182px;
            .project-image-border2 {
                border: 3px solid rgb(175, 192, 255);
                width: 246px;
                height: 176;
                >img{
                    border: 3px solid rgb(39, 49, 85);
                    width: 240px;
                    height: 170px;
                }
            }
        }
    }
}

.project-number-2 {
    position: absolute;
    top: 45px;
    left: 271px;
    width: 240px;
    cursor: pointer;
    .project-image {
        .project-image-border1 {
            border: 3px solid rgb(39, 49, 85);
            width: 252px;
            height: 452px;
            .project-image-border2 {
                border: 3px solid rgb(175, 192, 255);
                width: 246px;
                height: 446;
                >img{
                    border: 3px solid rgb(39, 49, 85);
                    width: 240px;
                    height: 440px;
                }
            }
        }
    }
}

.project-number-3 {
    position: absolute;
    top: 20px;
    left: 527px;
    width: 210px;
    cursor: pointer;
    .project-image {
        .project-image-border1 {
            border: 3px solid rgb(39, 49, 85);
            width: 222px;
            height: 182px;
            .project-image-border2 {
                border: 3px solid rgb(175, 192, 255);
                width: 216px;
                height: 176;
                >img{
                    border: 3px solid rgb(39, 49, 85);
                    width: 210px;
                    height: 170px;
                }
            }
        }
    }
}

.project-number-4 {
    position: absolute;
    top: 206px;
    left: 527px;
    width: 210px;
    cursor: pointer;
    .project-image {
        .project-image-border1 {
            border: 3px solid rgb(39, 49, 85);
            width: 222px;
            height: 312px;
            .project-image-border2 {
                border: 3px solid rgb(175, 192, 255);
                width: 216px;
                height: 306;
                >img{
                    border: 3px solid rgb(39, 49, 85);
                    width: 210px;
                    height: 300px;
                }
            }
        }
    }
}

.project-number-5 {
    position: absolute;
    top: 80px;
    left: 753px;
    width: 300px;
    cursor: pointer;
    .project-image {
        .project-image-border1 {
            border: 3px solid rgb(39, 49, 85);
            width: 312px;
            height: 192px;
            .project-image-border2 {
                border: 3px solid rgb(175, 192, 255);
                width: 306px;
                height: 186;
                >img{
                    border: 3px solid rgb(39, 49, 85);
                    width: 300px;
                    height: 180px;
                }
            }
        }
    }
}

.project-number-6 {
    position: absolute;
    top: 276px;
    left: 753px;
    width: 300px;
    cursor: pointer;
    .project-image {
        .project-image-border1 {
            border: 3px solid rgb(39, 49, 85);
            width: 312px;
            height: 192px;
            .project-image-border2 {
                border: 3px solid rgb(175, 192, 255);
                width: 306px;
                height: 186;
                >img{
                    border: 3px solid rgb(39, 49, 85);
                    width: 300px;
                    height: 180px;
                }
            }
        }
    }
}

.project-number-7 {
    position: absolute;
    top: 173px;
    left: 1069px;
    width: 270px;
    cursor: pointer;
    .project-image {
        .project-image-border1 {
            border: 3px solid rgb(39, 49, 85);
            width: 282px;
            height: 192px;
            .project-image-border2 {
                border: 3px solid rgb(175, 192, 255);
                width: 276px;
                height: 186;
                >img{
                    border: 3px solid rgb(39, 49, 85);
                    width: 270px;
                    height: 180px;
                }
            }
        }
    }
}


@media only screen and (max-width: 1366px) {
    .project-number-1 {
        top: 0px;
        left: 0px;
        position: static;
        width: 0px;
        .project-image {
            .project-image-border1 {
                border: 3px solid rgb(39, 49, 85);
                width: 752px;
                height: 622px;
                .project-image-border2 {
                    border: 3px solid rgb(175, 192, 255);
                    width: 746px;
                    height: 616;
                    >img{
                        border: 3px solid rgb(39, 49, 85);
                        width: 740px;
                        height: 610px;
                    }
                }
            }
        }
    }
    
    .project-number-2 {
        top: 0px;
        left: 0px;
        position: static;      
        width: 0px;
        cursor: pointer;
        .project-image {
            .project-image-border1 {
                border: 3px solid rgb(39, 49, 85);
                width: 752px;
                height: 1252px;
                .project-image-border2 {
                    border: 3px solid rgb(175, 192, 255);
                    width: 746px;
                    height: 1246px;
                    >img{
                        border: 3px solid rgb(39, 49, 85);
                        width: 740px;
                        height: 1240px;
                    }
                }
            }
        }
    }
    
    .project-number-3 {
        top: 0px;
        left: 0px;
        position: static;    
        width: 0px;
        cursor: pointer;
        .project-image {
            .project-image-border1 {
                border: 3px solid rgb(39, 49, 85);
                width: 752px;
                height: 572px;
                .project-image-border2 {
                    border: 3px solid rgb(175, 192, 255);
                    width: 746px;
                    height: 566px;
                    >img{
                        border: 3px solid rgb(39, 49, 85);
                        width: 740px;
                        height: 560px;
                    }
                }
            }
        }
    }
    
    .project-number-4 {
        top: 0px;
        left: 0px;
        position: static;
        width: 0px;
        cursor: pointer;
        .project-image {
            .project-image-border1 {
                border: 3px solid rgb(39, 49, 85);
                width: 752px;
                height: 812px;
                .project-image-border2 {
                    border: 3px solid rgb(175, 192, 255);
                    width: 746px;
                    height: 806;
                    >img{
                        border: 3px solid rgb(39, 49, 85);
                        width: 740px;
                        height: 800px;
                    }
                }
            }
        }
    }
    
    .project-number-5 {
        top: 0px;
        left: 0px;
        position: static;
        width: 0px;
        cursor: pointer;
        .project-image {
            .project-image-border1 {
                border: 3px solid rgb(39, 49, 85);
                width: 752px;
                height: 452px;
                .project-image-border2 {
                    border: 3px solid rgb(175, 192, 255);
                    width: 746px;
                    height: 446;
                    >img{
                        border: 3px solid rgb(39, 49, 85);
                        width: 740px;
                        height: 440px;
                    }
                }
            }
        }
    }
    
    .project-number-6 {
        top: 0px;
        left: 0px;
        position: static;
        width: 0px;
        cursor: pointer;
        .project-image {
            .project-image-border1 {
                border: 3px solid rgb(39, 49, 85);
                width: 752px;
                height: 452px;
                .project-image-border2 {
                    border: 3px solid rgb(175, 192, 255);
                    width: 746px;
                    height: 446;
                    >img{
                        border: 3px solid rgb(39, 49, 85);
                        width: 740px;
                        height: 440px;
                    }
                }
            }
        }
    }
    
    .project-number-7 {
        top: 0px;
        left: 0px;
        position: static;
        width: 0px;
        cursor: pointer;
        .project-image {
            .project-image-border1 {
                border: 3px solid rgb(39, 49, 85);
                width: 752px;
                height: 452px;
                .project-image-border2 {
                    border: 3px solid rgb(175, 192, 255);
                    width: 746px;
                    height: 446;
                    >img{
                        border: 3px solid rgb(39, 49, 85);
                        width: 740px;
                        height: 440px;
                    }
                }
            }
        }
    }
}

// @media only screen and (min-width: 1371px) {
//     .project-number-1 {
//         left: 270px;
//     }
//     .project-number-2 {
//         left: 521px;
//     }
//     .project-number-3 {
//         left: 772px;
//     }
//     .project-number-4 {
//         left: 772px;
//     }
//     .project-number-5 {
//         left: 993px;
//     }
//     .project-number-6 {
//         left: 993px;
//     }
//     .project-number-7 {
//         left: 1303px;
//     }
// }
