.project-number-1 {
    position: absolute;
    top: 160px;
    left: 15px;
    width: 240px;
    cursor: pointer;
    .project-image {
        >img{
            border: 10px solid rgb(39, 49, 85);
            width: 240px;
            height: 170px;
        }
    }
}

.project-number-2 {
    position: absolute;
    top: 45px;
    left: 265px;
    width: 240px;
    cursor: pointer;
    .project-image {
        >img{
            border: 10px solid rgb(39, 49, 85);
            width: 240px;
            height: 440px;
        }
    }
}

.project-number-3 {
    position: absolute;
    top: 20px;
    left: 516px;
    width: 210px;
    cursor: pointer;
    .project-image {
        >img{
            border: 10px solid rgb(39, 49, 85);
            width: 210px;
            height: 170px;
        }
    }
}

.project-number-4 {
    position: absolute;
    top: 203px;
    left: 516px;
    width: 210px;
    cursor: pointer;
    .project-image {
        >img{
            border: 10px solid rgb(39, 49, 85);
            width: 210px;
            height: 300px;
        }
    }
}

.project-number-5 {
    position: absolute;
    top: 80px;
    left: 738px;
    width: 300px;
    cursor: pointer;
    .project-image {
        >img{
            border: 10px solid rgb(39, 49, 85);
            width: 300px;
            height: 180px;
        }
    } 
}

.project-number-6 {
    position: absolute;
    top: 273px;
    left: 738px;
    width: 300px;
    cursor: pointer;
    .project-image {
        >img{
            border: 10px solid rgb(39, 49, 85);
            width: 300px;
            height: 180px;
        }
    }
}

.project-number-7 {
    position: absolute;
    top: 173px;
    left: 1049px;
    width: 270px;
    cursor: pointer;
    .project-image {
        >img{
            border: 10px solid rgb(39, 49, 85);
            width: 270px;
            height: 180px;
        }
    }
}

@media only screen and (min-width: 1371px) {
    .project-number-1 {
        left: 270px;
    }
    .project-number-2 {
        left: 521px;
    }
    .project-number-3 {
        left: 772px;
    }
    .project-number-4 {
        left: 772px;
    }
    .project-number-5 {
        left: 993px;
    }
    .project-number-6 {
        left: 993px;
    }
    .project-number-7 {
        left: 1303px;
    }
}
