.project-info {
    .project-info-name {

    }
    .project-info-description {

    }
}

.project-developer-info-open {
    display: flex;
    height: 40px;
    .project-developer-info-photo {
        >img {
            width: 20px;
            height: 20px;
        }
    }
    .project-developer-info-general {
        .project-developer-info-name {

        }
        .project-developer-info-position {

        }
    }
}

.project-developer-info-close {
    display: flex;
    height: 0px;
    .project-developer-info-photo {
        >img {
            width: 20px;
            height: 20px;
        }
    }
    .project-developer-info-general {
        .project-developer-info-name {

        }
        .project-developer-info-position {

        }
    }
}

.project-number-1 {
    position: absolute;
    top: 160px;
    left: 15px;
    width: 240px;
    transition: transform .2s;
    cursor: pointer;
    .project-image {
        .project-image-border1 {
            border: 3px solid rgb(39, 49, 85);
            width: 252px;
            height: 182px;
            .project-image-border2 {
                border: 3px solid rgb(175, 192, 255);
                width: 246px;
                height: 176;
                >img{
                    border: 3px solid rgb(39, 49, 85);
                    width: 240px;
                    height: 170px;
                }
            }
        }
    }
}

.project-number-1-hover {
    position: absolute;
    top: 160px;
    left: 15px;
    width: 240px;
    z-index: 100;
    transform: scale(1.5);
    transition: transform .2s;
    cursor: pointer;
    .project-image {
        .project-image-border1 {
            border-left: 3px solid rgb(39, 49, 85);
            border-right: 3px solid rgb(39, 49, 85);
            width: 252px;
            height: 182px;
            .project-image-border2 {
                border: 3px solid rgb(175, 192, 255);
                width: 246px;
                height: 176;
                >img{
                    border: 3px solid rgb(39, 49, 85);
                    width: 240px;
                    height: 170px;
                }
            }
        }
    }
}

.project-number-2 {
    position: absolute;
    top: 45px;
    left: 271px;
    width: 240px;
    cursor: pointer;
    .project-image {
        .project-image-border1 {
            border: 3px solid rgb(39, 49, 85);
            width: 252px;
            height: 452px;
            .project-image-border2 {
                border: 3px solid rgb(175, 192, 255);
                width: 246px;
                height: 446;
                >img{
                    border: 3px solid rgb(39, 49, 85);
                    width: 240px;
                    height: 440px;
                }
            }
        }
    }
}

.project-number-2-hover {
    position: absolute;
    top: 45px;
    left: 271px;
    width: 240px;
    cursor: pointer;
    .project-image {
        .project-image-border1 {
            border: 3px solid rgb(39, 49, 85);
            width: 252px;
            height: 452px;
            .project-image-border2 {
                border: 3px solid rgb(175, 192, 255);
                width: 246px;
                height: 446;
                >img{
                    border: 3px solid rgb(39, 49, 85);
                    width: 240px;
                    height: 440px;
                }
            }
        }
    }
}

.project-number-3 {
    position: absolute;
    top: 20px;
    left: 527px;
    width: 210px;
    cursor: pointer;
    .project-image {
        .project-image-border1 {
            border: 3px solid rgb(39, 49, 85);
            width: 222px;
            height: 182px;
            .project-image-border2 {
                border: 3px solid rgb(175, 192, 255);
                width: 216px;
                height: 176;
                >img{
                    border: 3px solid rgb(39, 49, 85);
                    width: 210px;
                    height: 170px;
                }
            }
        }
    }
}

.project-number-3-hover {
    position: absolute;
    top: 20px;
    left: 527px;
    width: 210px;
    cursor: pointer;
    .project-image {
        .project-image-border1 {
            border: 3px solid rgb(39, 49, 85);
            width: 222px;
            height: 182px;
            .project-image-border2 {
                border: 3px solid rgb(175, 192, 255);
                width: 216px;
                height: 176;
                >img{
                    border: 3px solid rgb(39, 49, 85);
                    width: 210px;
                    height: 170px;
                }
            }
        }
    }
}

.project-number-4 {
    position: absolute;
    top: 206px;
    left: 527px;
    width: 210px;
    cursor: pointer;
    .project-image {
        .project-image-border1 {
            border: 3px solid rgb(39, 49, 85);
            width: 222px;
            height: 312px;
            .project-image-border2 {
                border: 3px solid rgb(175, 192, 255);
                width: 216px;
                height: 306;
                >img{
                    border: 3px solid rgb(39, 49, 85);
                    width: 210px;
                    height: 300px;
                }
            }
        }
    }
}

.project-number-4-hover {
    position: absolute;
    top: 206px;
    left: 527px;
    width: 210px;
    cursor: pointer;
    .project-image {
        .project-image-border1 {
            border: 3px solid rgb(39, 49, 85);
            width: 222px;
            height: 312px;
            .project-image-border2 {
                border: 3px solid rgb(175, 192, 255);
                width: 216px;
                height: 306;
                >img{
                    border: 3px solid rgb(39, 49, 85);
                    width: 210px;
                    height: 300px;
                }
            }
        }
    }
}

.project-number-5 {
    position: absolute;
    top: 80px;
    left: 753px;
    width: 300px;
    cursor: pointer;
    .project-image {
        .project-image-border1 {
            border: 3px solid rgb(39, 49, 85);
            width: 312px;
            height: 192px;
            .project-image-border2 {
                border: 3px solid rgb(175, 192, 255);
                width: 306px;
                height: 186;
                >img{
                    border: 3px solid rgb(39, 49, 85);
                    width: 300px;
                    height: 180px;
                }
            }
        }
    }
}

.project-number-5-hover {
    position: absolute;
    top: 80px;
    left: 753px;
    width: 300px;
    cursor: pointer;
    .project-image {
        .project-image-border1 {
            border: 3px solid rgb(39, 49, 85);
            width: 312px;
            height: 192px;
            .project-image-border2 {
                border: 3px solid rgb(175, 192, 255);
                width: 306px;
                height: 186;
                >img{
                    border: 3px solid rgb(39, 49, 85);
                    width: 300px;
                    height: 180px;
                }
            }
        }
    }
}

.project-number-6 {
    position: absolute;
    top: 276px;
    left: 753px;
    width: 300px;
    cursor: pointer;
    .project-image {
        .project-image-border1 {
            border: 3px solid rgb(39, 49, 85);
            width: 312px;
            height: 192px;
            .project-image-border2 {
                border: 3px solid rgb(175, 192, 255);
                width: 306px;
                height: 186;
                >img{
                    border: 3px solid rgb(39, 49, 85);
                    width: 300px;
                    height: 180px;
                }
            }
        }
    }
}

.project-number-6-hover {
    position: absolute;
    top: 276px;
    left: 753px;
    width: 300px;
    cursor: pointer;
    .project-image {
        .project-image-border1 {
            border: 3px solid rgb(39, 49, 85);
            width: 312px;
            height: 192px;
            .project-image-border2 {
                border: 3px solid rgb(175, 192, 255);
                width: 306px;
                height: 186;
                >img{
                    border: 3px solid rgb(39, 49, 85);
                    width: 300px;
                    height: 180px;
                }
            }
        }
    }
}

.project-number-7 {
    position: absolute;
    top: 173px;
    left: 1069px;
    width: 270px;
    cursor: pointer;
    .project-image {
        .project-image-border1 {
            border: 3px solid rgb(39, 49, 85);
            width: 282px;
            height: 192px;
            .project-image-border2 {
                border: 3px solid rgb(175, 192, 255);
                width: 276px;
                height: 186;
                >img{
                    border: 3px solid rgb(39, 49, 85);
                    width: 270px;
                    height: 180px;
                }
            }
        }
    }
}

.project-number-7-hover {
    position: absolute;
    top: 173px;
    left: 1069px;
    width: 270px;
    cursor: pointer;
    .project-image {
        .project-image-border1 {
            border: 3px solid rgb(39, 49, 85);
            width: 282px;
            height: 192px;
            .project-image-border2 {
                border: 3px solid rgb(175, 192, 255);
                width: 276px;
                height: 186;
                >img{
                    border: 3px solid rgb(39, 49, 85);
                    width: 270px;
                    height: 180px;
                }
            }
        }
    }
}


@media only screen and (max-width: 1366px) {
    .project-number-1 {
        top: 0px;
        left: 0px;
        position: static;
        width: 0px;
        .project-image {
            .project-image-border1 {
                border: 3px solid rgb(39, 49, 85);
                width: 752px;
                height: 622px;
                .project-image-border2 {
                    border: 3px solid rgb(175, 192, 255);
                    width: 746px;
                    height: 616;
                    >img{
                        border: 3px solid rgb(39, 49, 85);
                        width: 740px;
                        height: 610px;
                    }
                }
            }
        }
    }
    
    .project-number-2 {
        top: 0px;
        left: 0px;
        position: static;      
        width: 0px;
        cursor: pointer;
        .project-image {
            .project-image-border1 {
                border: 3px solid rgb(39, 49, 85);
                width: 752px;
                height: 1252px;
                .project-image-border2 {
                    border: 3px solid rgb(175, 192, 255);
                    width: 746px;
                    height: 1246px;
                    >img{
                        border: 3px solid rgb(39, 49, 85);
                        width: 740px;
                        height: 1240px;
                    }
                }
            }
        }
    }
    
    .project-number-3 {
        top: 0px;
        left: 0px;
        position: static;    
        width: 0px;
        cursor: pointer;
        .project-image {
            .project-image-border1 {
                border: 3px solid rgb(39, 49, 85);
                width: 752px;
                height: 572px;
                .project-image-border2 {
                    border: 3px solid rgb(175, 192, 255);
                    width: 746px;
                    height: 566px;
                    >img{
                        border: 3px solid rgb(39, 49, 85);
                        width: 740px;
                        height: 560px;
                    }
                }
            }
        }
    }
    
    .project-number-4 {
        top: 0px;
        left: 0px;
        position: static;
        width: 0px;
        cursor: pointer;
        .project-image {
            .project-image-border1 {
                border: 3px solid rgb(39, 49, 85);
                width: 752px;
                height: 812px;
                .project-image-border2 {
                    border: 3px solid rgb(175, 192, 255);
                    width: 746px;
                    height: 806;
                    >img{
                        border: 3px solid rgb(39, 49, 85);
                        width: 740px;
                        height: 800px;
                    }
                }
            }
        }
    }
    
    .project-number-5 {
        top: 0px;
        left: 0px;
        position: static;
        width: 0px;
        cursor: pointer;
        .project-image {
            .project-image-border1 {
                border: 3px solid rgb(39, 49, 85);
                width: 752px;
                height: 452px;
                .project-image-border2 {
                    border: 3px solid rgb(175, 192, 255);
                    width: 746px;
                    height: 446;
                    >img{
                        border: 3px solid rgb(39, 49, 85);
                        width: 740px;
                        height: 440px;
                    }
                }
            }
        }
    }
    
    .project-number-6 {
        top: 0px;
        left: 0px;
        position: static;
        width: 0px;
        cursor: pointer;
        .project-image {
            .project-image-border1 {
                border: 3px solid rgb(39, 49, 85);
                width: 752px;
                height: 452px;
                .project-image-border2 {
                    border: 3px solid rgb(175, 192, 255);
                    width: 746px;
                    height: 446;
                    >img{
                        border: 3px solid rgb(39, 49, 85);
                        width: 740px;
                        height: 440px;
                    }
                }
            }
        }
    }
    
    .project-number-7 {
        top: 0px;
        left: 0px;
        position: static;
        width: 0px;
        cursor: pointer;
        .project-image {
            .project-image-border1 {
                border: 3px solid rgb(39, 49, 85);
                width: 752px;
                height: 452px;
                .project-image-border2 {
                    border: 3px solid rgb(175, 192, 255);
                    width: 746px;
                    height: 446;
                    >img{
                        border: 3px solid rgb(39, 49, 85);
                        width: 740px;
                        height: 440px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 870px) {
    .project-number-1 {
        top: 0px;
        left: 0px;
        position: static;
        width: 0px;
        .project-image {
            .project-image-border1 {
                border: 3px solid rgb(39, 49, 85);
                width: 452px;
                height: 322px;
                .project-image-border2 {
                    border: 3px solid rgb(175, 192, 255);
                    width: 446px;
                    height: 316;
                    >img{
                        border: 3px solid rgb(39, 49, 85);
                        width: 440px;
                        height: 310px;
                    }
                }
            }
        }
    }
    
    .project-number-2 {
        top: 0px;
        left: 0px;
        position: static;      
        width: 0px;
        cursor: pointer;
        .project-image {
            .project-image-border1 {
                border: 3px solid rgb(39, 49, 85);
                width: 452px;
                height: 722px;
                .project-image-border2 {
                    border: 3px solid rgb(175, 192, 255);
                    width: 446px;
                    height: 716px;
                    >img{
                        border: 3px solid rgb(39, 49, 85);
                        width: 440px;
                        height: 710px;
                    }
                }
            }
        }
    }
    
    .project-number-3 {
        top: 0px;
        left: 0px;
        position: static;    
        width: 0px;
        cursor: pointer;
        .project-image {
            .project-image-border1 {
                border: 3px solid rgb(39, 49, 85);
                width: 452px;
                height: 372px;
                .project-image-border2 {
                    border: 3px solid rgb(175, 192, 255);
                    width: 446px;
                    height: 366px;
                    >img{
                        border: 3px solid rgb(39, 49, 85);
                        width: 440px;
                        height: 360px;
                    }
                }
            }
        }
    }
    
    .project-number-4 {
        top: 0px;
        left: 0px;
        position: static;
        width: 0px;
        cursor: pointer;
        .project-image {
            .project-image-border1 {
                border: 3px solid rgb(39, 49, 85);
                width: 452px;
                height: 542px;
                .project-image-border2 {
                    border: 3px solid rgb(175, 192, 255);
                    width: 446px;
                    height: 536;
                    >img{
                        border: 3px solid rgb(39, 49, 85);
                        width: 440px;
                        height: 530px;
                    }
                }
            }
        }
    }
    
    .project-number-5 {
        top: 0px;
        left: 0px;
        position: static;
        width: 0px;
        cursor: pointer;
        .project-image {
            .project-image-border1 {
                border: 3px solid rgb(39, 49, 85);
                width: 452px;
                height: 302px;
                .project-image-border2 {
                    border: 3px solid rgb(175, 192, 255);
                    width: 446px;
                    height: 296;
                    >img{
                        border: 3px solid rgb(39, 49, 85);
                        width: 440px;
                        height: 290px;
                    }
                }
            }
        }
    }
    
    .project-number-6 {
        top: 0px;
        left: 0px;
        position: static;
        width: 0px;
        cursor: pointer;
        .project-image {
            .project-image-border1 {
                border: 3px solid rgb(39, 49, 85);
                width: 452px;
                height: 302px;
                .project-image-border2 {
                    border: 3px solid rgb(175, 192, 255);
                    width: 446px;
                    height: 296;
                    >img{
                        border: 3px solid rgb(39, 49, 85);
                        width: 440px;
                        height: 290px;
                    }
                }
            }
        }
    }
    
    .project-number-7 {
        top: 0px;
        left: 0px;
        position: static;
        width: 0px;
        cursor: pointer;
        .project-image {
            .project-image-border1 {
                border: 3px solid rgb(39, 49, 85);
                width: 452px;
                height: 302px;
                .project-image-border2 {
                    border: 3px solid rgb(175, 192, 255);
                    width: 446px;
                    height: 296;
                    >img{
                        border: 3px solid rgb(39, 49, 85);
                        width: 440px;
                        height: 290px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 530px) {
    .project-number-1 {
        top: 0px;
        left: 0px;
        position: static;
        width: 0px;
        .project-image {
            .project-image-border1 {
                border: 3px solid rgb(39, 49, 85);
                width: 252px;
                height: 202px;
                .project-image-border2 {
                    border: 3px solid rgb(175, 192, 255);
                    width: 246px;
                    height: 196;
                    >img{
                        border: 3px solid rgb(39, 49, 85);
                        width: 240px;
                        height: 190px;
                    }
                }
            }
        }
    }
    
    .project-number-2 {
        top: 0px;
        left: 0px;
        position: static;      
        width: 0px;
        cursor: pointer;
        .project-image {
            .project-image-border1 {
                border: 3px solid rgb(39, 49, 85);
                width: 252px;
                height: 422px;
                .project-image-border2 {
                    border: 3px solid rgb(175, 192, 255);
                    width: 246px;
                    height: 416px;
                    >img{
                        border: 3px solid rgb(39, 49, 85);
                        width: 240px;
                        height: 410px;
                    }
                }
            }
        }
    }
    
    .project-number-3 {
        top: 0px;
        left: 0px;
        position: static;    
        width: 0px;
        cursor: pointer;
        .project-image {
            .project-image-border1 {
                border: 3px solid rgb(39, 49, 85);
                width: 252px;
                height: 252px;
                .project-image-border2 {
                    border: 3px solid rgb(175, 192, 255);
                    width: 246px;
                    height: 246px;
                    >img{
                        border: 3px solid rgb(39, 49, 85);
                        width: 240px;
                        height: 240px;
                    }
                }
            }
        }
    }
    
    .project-number-4 {
        top: 0px;
        left: 0px;
        position: static;
        width: 0px;
        cursor: pointer;
        .project-image {
            .project-image-border1 {
                border: 3px solid rgb(39, 49, 85);
                width: 252px;
                height: 342px;
                .project-image-border2 {
                    border: 3px solid rgb(175, 192, 255);
                    width: 246px;
                    height: 336px;
                    >img{
                        border: 3px solid rgb(39, 49, 85);
                        width: 240px;
                        height: 330px;
                    }
                }
            }
        }
    }
    
    .project-number-5 {
        top: 0px;
        left: 0px;
        position: static;
        width: 0px;
        cursor: pointer;
        .project-image {
            .project-image-border1 {
                border: 3px solid rgb(39, 49, 85);
                width: 252px;
                height: 192px;
                .project-image-border2 {
                    border: 3px solid rgb(175, 192, 255);
                    width: 246px;
                    height: 186px;
                    >img{
                        border: 3px solid rgb(39, 49, 85);
                        width: 240px;
                        height: 180px;
                    }
                }
            }
        }
    }
    
    .project-number-6 {
        top: 0px;
        left: 0px;
        position: static;
        width: 0px;
        cursor: pointer;
        .project-image {
            .project-image-border1 {
                border: 3px solid rgb(39, 49, 85);
                width: 252px;
                height: 192px;
                .project-image-border2 {
                    border: 3px solid rgb(175, 192, 255);
                    width: 246px;
                    height: 186px;
                    >img{
                        border: 3px solid rgb(39, 49, 85);
                        width: 240px;
                        height: 180px;
                    }
                }
            }
        }
    }
    
    .project-number-7 {
        top: 0px;
        left: 0px;
        position: static;
        width: 0px;
        cursor: pointer;
        .project-image {
            .project-image-border1 {
                border: 3px solid rgb(39, 49, 85);
                width: 252px;
                height: 192px;
                .project-image-border2 {
                    border: 3px solid rgb(175, 192, 255);
                    width: 246px;
                    height: 186px;
                    >img{
                        border: 3px solid rgb(39, 49, 85);
                        width: 240px;
                        height: 180px;
                    }
                }
            }
        }
    }
}

// @media only screen and (min-width: 1371px) {
//     .project-number-1 {
//         left: 270px;
//     }
//     .project-number-2 {
//         left: 521px;
//     }
//     .project-number-3 {
//         left: 772px;
//     }
//     .project-number-4 {
//         left: 772px;
//     }
//     .project-number-5 {
//         left: 993px;
//     }
//     .project-number-6 {
//         left: 993px;
//     }
//     .project-number-7 {
//         left: 1303px;
//     }
// }
