body {
    margin: 0px 40px 0 40px;
    background-color: transparentize(rgb(240, 221, 234), 0.3);
}

.parallax {
    height: 7000px;
    .parallax-backgroundBox {
        position: relative;
        height: 800px;
        background-image: url('../../images/BackgroundImageCut.png');
        // background-size: auto 600px;
        background-size: 100%;
        background-repeat: no-repeat;
        // clip: rect(500px, 100px, 100px, 0);
        background-position: top center;
        background-attachment: fixed;
        // background-size: contain;
        // background-position: top center;
        overflow: hidden;
    }
    .parallax-backgroundBox2 {
        position: relative;
        height: 1000px;
        background-image: url('../../images/abstract-magic-light-on-sweet-pink-background-vector-3421483.jpg');
        // background-size: auto 600px;
        background-size: 100%;
        background-repeat: no-repeat;
        // clip: rect(500px, 100px, 100px, 0);
        background-position: top center;
        background-attachment: fixed;
        // background-size: contain;
        // background-position: top center;
        overflow: hidden;
        z-index: -1;
      
    }
}

.text {
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: absolute;
}

@media only screen and (max-width: 1190px){
    .parallax {
        height: 7000px;
        .parallax-backgroundBox {
            position: relative;
            height: 600px;
            background-image: url('../../images/BackgroundImageCut.png');
            // background-size: auto 600px;
            background-size: 100%;
            background-repeat: no-repeat;
            // clip: rect(500px, 100px, 100px, 0);
            background-position: top center;
            background-attachment: fixed;
            // background-size: contain;
            // background-position: top center;
            overflow: hidden;
        }
    }
}

@media only screen and (max-width: 1067px){
    .parallax {
        height: 7000px;
        .parallax-backgroundBox {
            position: relative;
            height: 500px;
            background-image: url('../../images/BackgroundImageCut.png');
            // background-size: auto 600px;
            background-size: 100%;
            background-repeat: no-repeat;
            // clip: rect(500px, 100px, 100px, 0);
            background-position: top center;
            background-attachment: fixed;
            // background-size: contain;
            // background-position: top center;
            overflow: hidden;
        }
    }
}

@media only screen and (max-width: 900px) {
    .parallax {
        height: 7000px;
        .parallax-backgroundBox {
            position: relative;
            height: 400px;
            background-image: url('../../images/BackgroundImageCut.png');
            // background-size: auto 600px;
            background-size: 100%;
            background-repeat: no-repeat;
            // clip: rect(500px, 100px, 100px, 0);
            background-position: top center;
            background-attachment: fixed;
            // background-size: contain;
            // background-position: top center;
            overflow: hidden;
        }
    }
}


@media only screen and (max-width: 732px) {
    .parallax {
        height: 7000px;
        .parallax-backgroundBox {
            position: relative;
            height: 300px;
            background-image: url('../../images/BackgroundImageCut.png');
            // background-size: auto 600px;
            background-size: 100%;
            background-repeat: no-repeat;
            // clip: rect(500px, 100px, 100px, 0);
            background-position: top center;
            background-attachment: fixed;
            // background-size: contain;
            // background-position: top center;
            overflow: hidden;
        }
    }
}

@media only screen and (max-width: 550px) {
    .parallax {
        height: 7000px;
        .parallax-backgroundBox {
            position: relative;
            height: 200px;
            background-image: url('../../images/BackgroundImageCut.png');
            // background-size: auto 600px;
            background-size: 100%;
            background-repeat: no-repeat;
            // clip: rect(500px, 100px, 100px, 0);
            background-position: top center;
            background-attachment: fixed;
            // background-size: contain;
            // background-position: top center;
            overflow: hidden;
        }
    }
}
.parallax-airbaloons {
    display: flex;
    justify-content: space-between;
}
