.parallax {
    .parallax-backgroundBox {
        position: relative;
        height: 800px;
        background-image: url('../../images/BackgroundImageCut.png');
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: top center;
        background-attachment: fixed;
        overflow: hidden;
    }
    .parallax-backgroundBox2 {
        position: relative;
        height: 800px;
        background-image: url('../../images/abstract-magic-light-on-sweet-pink-background-vector-3421483.jpg');
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: top center;
        background-attachment: fixed;
        overflow: hidden;
    }
    .parallax-backgroundBox3 {
        position: relative;
        height: 400px;
        background-image: url('../../images/bokeh-1958563_960_720.png');
        background-size: 100%;
        background-repeat: repeat;
        background-position: top center;
        background-attachment: fixed;
        overflow: hidden;
    }
}

@media only screen and (max-width: 1190px){
    .parallax {
        .parallax-backgroundBox {
            height: 600px;
        }
    }
}

@media only screen and (max-width: 1067px){
    .parallax {
        .parallax-backgroundBox {
            height: 500px;
        }
        .parallax-backgroundBox2 {
            height: 1590px;
        }
    }
}

@media only screen and (max-width: 900px) {
    .parallax {
        .parallax-backgroundBox {
            height: 400px;
        }
    }
}

@media only screen and (max-width: 758px) {
    .parallax {
        .parallax-backgroundBox3 {
            height: 349px;
        }
    }
}

@media only screen and (max-width: 732px) {
    .parallax {
        .parallax-backgroundBox {
            height: 300px;
        }
    }
    .parallax-backgroundBox2 {
        background: rgb(243, 105, 158);
    }
}

@media only screen and (max-width: 640px) {
    .parallax {
        .parallax-backgroundBox2 {
            height: 1430px;
        }
    }
}

@media only screen and (max-width: 600px) {
    .parallax {
        .parallax-backgroundBox2 {
            height: 1630px;
        }
    }
}

.parallax-airbaloons {
    display: flex;
    justify-content: space-between;
}
