.buttons {
    display: flex;
    padding: 7px;
    .button{
        border: 1px solid white;
        width: 187px;
        height: 37px;
        border-radius: 7px;
        margin: 3px;
        display: flex;
        align-items: center;
        padding-left: 10px;
        padding-right: 10px;
        justify-content: space-between;
        box-shadow: 0px 1px 1px 0px #ccc, 0px 0px 0px 0px #ccc;
        &.chosen {
            box-shadow: 0px 2px 0px 0px #14bdac, 0px 4px 8px 0px #ccc;
        }
    }
}
@media (max-width: 463px){
    .buttons {
        display: flex;
        padding: 7px;
        .button{
            border: 1px solid white;
            width: 150px;
            height: 20px;
            border-radius: 7px;
            margin: 3px;
            display: flex;
            align-items: center;
            padding-left: 10px;
            padding-right: 10px;
            justify-content: space-between;
            box-shadow: 0px 1px 1px 0px #ccc, 0px 0px 0px 0px #ccc;
            &.chosen {
                box-shadow: 0px 2px 0px 0px #14bdac, 0px 4px 8px 0px #ccc;
            }
        }
    }
       
}