.toolbar-item {
    padding: 15px;
    color: rgba(139, 160, 230, 0.4);
    font-size: 30px;
    font-family: 'Abhaya Libre', serif;
    font-weight: bold;
    cursor: pointer;
    &:hover{
        color: rgba(139, 160, 230, 1);
    }
}

.toolbar-item-active {
    color: rgba(139, 160, 230, 0.4);
}

.sidebar-item {
    display: none;
}

// @keyframes move {
//     0% {
//         width: 0;
//     }
//     50% {
//         width: 50%;
//     }
//     100% {
//         width: 100%;
//     }
// }

@media only screen and (max-width: 1000px) {
    .toolbar-item {
        display: none;
    }
    .sidebar-item {
        display: inline;
        padding: 15px 15px 15px 30px;
        color: rgba(139, 160, 230, 0.4);
        font-size: 30px;
        font-family: 'Abhaya Libre', serif;
        font-weight: bold;
        cursor: pointer;
        &:hover{
            color: rgba(139, 160, 230, 1);
        }
    }
}
