.toolbar-item {
    padding: 15px;
    color: rgba(139, 160, 230, 0.4);
    font-size: 30px;
    font-family: 'Abhaya Libre', serif;
    font-weight: bold;
    cursor: pointer;
    &:hover{
        color: rgba(139, 160, 230, 1);
    }
    .icon-arrow-down {
        padding-left: 5px;
    }
}

.toolbar-item-active {
    color: rgba(139, 160, 230, 0.4);
}

.sidebar-item {
    display: none;
}

.toolbar-item-options {
    position: absolute;
    top: 90px;
    right: 200px;
    width: 170px;
    height: 85px;
    background-color: rgba(101, 64, 136, 0.2);
    box-shadow: 3px 3px 5px 3px rgb(101, 64, 136);
    .toolbar-item-option {
        padding: 10px;
        color: rgba(139, 160, 230,1);
        font-size: 20px;
        font-family: 'Abhaya Libre', serif;
        font-weight: bold;
        cursor: pointer;
        &:hover {
            background-color: rgb(198, 204, 228);
            color: rgb(101, 64, 136);
        }
    }
}

// @keyframes move {
//     0% {
//         width: 0;
//     }
//     50% {
//         width: 50%;
//     }
//     100% {
//         width: 100%;
//     }
// }

@media only screen and (max-width: 1000px) {
    .toolbar-item {
        display: none;
    }
    .sidebar-item {
        display: inline;
        padding: 15px 15px 15px 30px;
        color: rgba(139, 160, 230, 0.4);
        font-size: 30px;
        font-family: 'Abhaya Libre', serif;
        font-weight: bold;
        cursor: pointer;
        &:hover{
            color: rgba(139, 160, 230, 1);
        }
    }
}
