.footer-item {
    height: 30px;
    width: 300px;
    .footer-item-header {
        font-family: 'Indie Flower', cursive;
        color: rgb(39, 49, 85);
        font-size: 20px;
        font-weight: bold;
    }
    .footer-item-links {
        padding: 10px 0 0 15px;
        .footer-item-links-link {
            display: flex;
            font-size: 18px;
            font-family: 'Indie Flower', cursive;
            cursor: pointer;
            >a{
                color: rgba(39, 49, 85, 0.7);
            }
            .icon-arrow {
                color: rgba(39, 49, 85, 0.7);
                padding-right: 10px;
            }
            &:hover {
                >a{
                    color: rgb(39, 49, 85);
                }
                .icon-arrow {
                    color: rgb(39, 49, 85);
                }
            }
        }
    }
}

@media only screen and (max-width: 1226px) {
    .footer-item {
        width: 230px;
    }
}

@media only screen and (max-width: 1010px) {
    .footer-item {
        height: 200px;
        width: 300px;
        padding: 10px 0px 10px 0px;
        .footer-item-header {
            text-align: center;
        }
    }
}