.sendMessage {
    margin: 20px;
    .sendMessage-wrapper {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;
        >input {
            border: none;
            border-bottom: 1px solid black;
            background: rgb(243, 235, 241);
            margin: 10px;
            width: 250px;
            height: 37px;
            font-size: 16px;
        }
        :focus {
            outline: none;
        }
    }
    >textarea {
        background: rgb(243, 235, 241);
        border-bottom: 1px solid black;
        border-top: none;
        border-left: none;
        border-right: none;
        width: 520px;
        margin: 10px;
        resize: vertical;
        font-size: 16px;
    }
    :focus {
        outline: none;
    }
}

::placeholder {
    color: rgb(136, 0, 101);
}


@media only screen and (max-width: 680px){
    .sendMessage {
        margin: 20px;
        .sendMessage-wrapper {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 10px;
            >input {
                border: none;
                border-bottom: 1px solid black;
                background: rgb(243, 235, 241);
                margin: 10px;
                width: 350px;
                height: 37px;
                font-size: 16px;
            }
            :focus {
                outline: none;
            }
        }
        >textarea {
            background: rgb(243, 235, 241);
            border-bottom: 1px solid black;
            border-top: none;
            border-left: none;
            border-right: none;
            width: 320px;
            margin: 10px;
            resize: vertical;
            font-size: 16px;
        }
        :focus {
            outline: none;
        }
    }
}

@media only screen and (max-width: 478px){
    .sendMessage {
        margin: 20px;
        .sendMessage-wrapper {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 10px;
            >input {
                border: none;
                border-bottom: 1px solid black;
                background: rgb(243, 235, 241);
                margin: 10px;
                width: 200px;
                height: 37px;
                font-size: 16px;
            }
            :focus {
                outline: none;
            }
        }
        >textarea {
            background: rgb(243, 235, 241);
            border-bottom: 1px solid black;
            border-top: none;
            border-left: none;
            border-right: none;
            width: 200px;
            margin: 10px;
            resize: vertical;
            font-size: 16px;
        }
        :focus {
            outline: none;
        }
    }
}
