.services-page {
    .services-page-wrapper {
        display: flex;
        width: 100%;
        justify-content: center;
        .services-page-column {
            width: 370px;
            padding: 70px 30px 70px 30px;
            .services-page-text {
                font-family: 'Abhaya Libre', serif;
                // color: rgb(39, 49, 85);
                font-size: 20px;
                opacity: 0.5;
                text-align: justify;
                text-justify: inter-word;
                // text-indent: 30px;
            }
            .services-page-number {
                font-family: 'Abhaya Libre', serif;
                // color: rgb(39, 49, 85);
                font-size: 30px;
                padding: 20px 0 20px 0;
            }
            .services-page-description {
                .services-page-description-item {
                    font-family: 'Abhaya Libre', serif;
                    // color: rgb(39, 49, 85);
                    font-size: 20px;
                    opacity: 0.7;
                    width: 200px;
                }
            }
        }
    }
}
