.image1 {
    border: 1.5px solid rgba(136, 0, 101, 0.7);
    width: 300px;
    height: 300px;
    display: inline-block;
    margin: 10px;
    >img{
        width: 300px;
        height: 300px;
    }
    // margin: 0 10px 0 10px;
}
.image2 {
    border: 1.5px solid rgba(136, 0, 101, 0.7);
    width: 300px;
    height: 300px;
    display: inline-block;
    margin: 10px;
    >img{
        width: 300px;
        height: 300px;
    }
    // margin: 0 10px 0 10px;
}
.image3 {
    border: 1.5px solid rgba(136, 0, 101, 0.7);
    width: 300px;
    height: 300px;
    display: inline-block;
    margin: 10px;
    >img{
        width: 300px;
        height: 300px;
    }
    // margin: 0 10px 0 10px;
}
.image4 {
    border: 1.5px solid rgba(136, 0, 101, 0.7);
    width: 300px;
    height: 300px;
    display: inline-block;
    margin: 10px;
    >img{
        width: 300px;
        height: 300px;
    }
    // margin: 0 10px 0 10px;
}
.image5 {
    border: 1.5px solid rgba(136, 0, 101, 0.7);
    width: 300px;
    height: 300px;
    display: inline-block;
    margin: 10px;
    >img{
        width: 300px;
        height: 300px;
    }
    // margin: 0 10px 0 10px;
}
.image6 {
    border: 1.5px solid rgba(136, 0, 101, 0.7);
    width: 300px;
    height: 300px;
    display: inline-block;
    margin: 10px;
    >img{
        width: 300px;
        height: 300px;
    }
    // margin: 0 10px 0 10px;
}
.image7 {
    border: 1.5px solid rgba(136, 0, 101, 0.7);
    width: 300px;
    height: 300px;
    display: inline-block;
    margin: 10px;
    >img{
        width: 300px;
        height: 300px;
    }
    // margin: 0 10px 0 10px;
}
.image8 {
    border: 1.5px solid rgba(136, 0, 101, 0.7);
    width: 300px;
    height: 300px;
    display: inline-block;
    margin: 10px;
    >img{
        width: 300px;
        height: 300px;
    }
    // margin: 0 10px 0 10px;
}
.image9 {
    border: 1.5px solid rgba(136, 0, 101, 0.7);
    width: 300px;
    height: 300px;
    display: inline-block;
    margin: 10px;
    >img{
        width: 300px;
        height: 300px;
    }
    // margin: 0 10px 0 10px;
}