.image1 {
    border: 2px solid red;
    width: 100px;
    height: 100px;
    display: block;
    // margin: 0 10px 0 10px;
}
.image2 {
    border: 2px solid red;
    width: 100px;
    height: 100px;
    display: block;
    // margin: 0 10px 0 10px;
}
.image3 {
    border: 2px solid red;
    width: 100px;
    height: 100px;
    display: block;
    // margin: 0 10px 0 10px;
}
.image4 {
    border: 2px solid red;
    width: 100px;
    height: 100px;
    display: block;
    // margin: 0 10px 0 10px;
}
.image5 {
    border: 2px solid red;
    width: 100px;
    height: 100px;
    display: block;
    // margin: 0 10px 0 10px;
}
.image6 {
    border: 2px solid red;
    width: 100px;
    height: 100px;
    display: block;
    // margin: 0 10px 0 10px;
}
.image7 {
    border: 2px solid red;
    width: 100px;
    height: 100px;
    display: block;
    // margin: 0 10px 0 10px;
}
.image8 {
    border: 2px solid red;
    width: 100px;
    height: 100px;
    display: block;
    // margin: 0 10px 0 10px;
}
.image9 {
    border: 2px solid red;
    width: 100px;
    height: 100px;
    display: block;
    // margin: 0 10px 0 10px;
}