.computationalResources{
    margin-left: 10px;
    margin-top: 30px;
    .computationalResources-label {
       font-weight: bold;
    }

    .computationalResources-line {
        border: 0.5px solid rgb(156, 156, 156);
        width: 290px;
    }
    
    .computationalResources-section {
       padding: 5px 0 20px 0;
    }
}

.computationalResources-wrapper1{
    display: flex;
    justify-content: space-between;
    width: 120px;
}

.computationalResources-wrapper2{
    display: flex;
    justify-content: space-between;
    width: 135px;
}

