.newsletter {
    height: 400px;
    background-image: url('../../../images/6774549-beautiful-bubbles-wallpaper.jpg');
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: context-menu;
    .newsletter-header {
        font-family: 'Indie Flower', cursive;
        padding-top: 50px;
        font-size: 40px;
        font-weight: bold;
        color: rgb(214, 221, 243);
    }
    .newsletter-text {
        font-family: 'Indie Flower', cursive;
        font-size: 20px;
        width: 700px;
        text-align: center;
        color: rgb(214, 221, 243);
    }
}

@media only screen and (max-width: 874px) {
    .newsletter {
        .newsletter-header {
            font-size: 30px;
        }
        .newsletter-text {
            font-size: 17px;
            width: 500px;
        }
    }
}

@media only screen and (max-width: 628px) {
    .newsletter {
        .newsletter-text {
            width: 350px;
        }
    }
}


@media only screen and (max-width: 428px) {
    .newsletter {
        .newsletter-header {
            font-size: 24px;
        }
        .newsletter-text {
            font-size: 15px;
            width: 250px;
        }
    }
}
