.achievement {
    .achievement-value {
        font-family: 'Abhaya Libre', serif;
        font-size: 50px;
        font-weight: bold;
        color: rgb(181, 196, 243);
    }
    .achievement-text {
        font-family: 'Abhaya Libre', serif;
        color: rgb(181, 196, 243);
        font-size: 23px;
    }
}