.team-member {
    width: 320px;
    height: 500px;
    margin: 20px;
    .team-member-full-name {
        font-family: 'Indie Flower', cursive;
        color: rgb(42, 20, 33);
        font-size: 21px;
    }
    .team-member-position {
        font-family: 'Indie Flower', cursive;
        font-size: 16px;
        opacity: 0.5;
        padding: 5px 0 15px 0;
        color: rgb(42, 20, 33);
    }
    .team-member-image {
        >img {
            width: 320px;
            height: 330px;
        }
    }
    .team-member-info{
        font-family: 'Indie Flower', cursive;
        font-size: 16px;
        opacity: 0.5;
        padding: 15px 0 15px 0;
        color: rgb(42, 20, 33);
    }
}

@media only screen and (max-width: 1119px) {
    .team-member {
        .team-member-image {
            >img {
                width: 220px;
                height: 230px;
            }
        }
    }
}

@media only screen and (max-width: 820px) {
    .team-member {
        height: 437px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}
