.team-member {
    width: 320px;
    height: 500px;
    margin: 20px;
    .team-member-full-name {
        font-family: 'Abhaya Libre', serif;
        color: rgb(39, 49, 85);
        font-size: 21px;
    }
    .team-member-position {
        font-family: 'Abhaya Libre', serif;
        font-size: 16px;
        opacity: 0.5;
        padding: 5px 0 15px 0;
    }
    .team-member-image {
        >img {
            width: 320px;
            height: 330px;
        }
    }
    .team-member-info{
        font-family: 'Abhaya Libre', serif;
        font-size: 16px;
        opacity: 0.5;
        padding: 15px 0 15px 0;
    }
}
