.terminal-right{
    padding-bottom: 5px;
    .terminal-right-comment-focused{
        color: white;
        font-size: 14px;
        padding: 1px 0 1px 7px;
        font-family: 'Oxygen Mono', monospace;
        font-size: 15px;
        display: flex;
        .blinking-cursor {
            font-weight: 100;
            font-size: 15px;
            color: #2E3D48;
            animation: 1s blink step-end infinite;
        }
    }
    .terminal-right-comment{
        color: rgb(146, 146, 146);
        font-size: 14px;
        padding: 1px 0 1px 7px;
        font-family: 'Oxygen Mono', monospace;
        font-size: 15px;
    }
}

@keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: white;
    }
}