.teamInformation {
    font-family: 'Handlee', cursive;
    border: 2px solid rgb(136, 0, 101);
    height: 796px;
    .teamInformation-border1 {
        border: 2px solid rgb(136, 0, 101);
        margin: 3px;
        height: 786px;
        .teamInformation-border2 {
            border: 2px solid rgb(136, 0, 101);
            margin: 3px;
            height: 776;
            .teamInformation-text {
                padding: 0 70px 0 70px;
                font-size: 27px;
            }
            >h1 {
                color:rgb(136, 0, 101);
                font-size: 47px;
                text-align: center; 
            }
            .teamInformation-members {
                height: 370px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                align-items: flex-end;
            }
        }
    }
}

@media only screen and (max-width: 1115px) {
    .teamInformation {
        // height: 675;
        .teamInformation-border1 {
            // height: 675;
            .teamInformation-border2 {
                border: 2px solid rgb(136, 0, 101);
                margin: 3px;
                // height: 675;
                .teamInformation-text {
                    font-size: 24px;
                }

                .teamInformation-members {
                    height: 300px;
                }
            }
        }
    }
}

@media only screen and (max-width: 1067px) {
    .teamInformation {
        height: 1586px;
        .teamInformation-border1 {
            height: 1576px;
            .teamInformation-border2 {
                height: 1566;
                .teamInformation-text {
                    font-size: 20px;
                }
                .teamInformation-members {
                    height: 1200px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    // justify-content: space-evenly;
                    // align-items: flex-end;
                }
            }
        }
    }
}


@media only screen and (max-width: 782px) {
    .teamInformation {
        height: 1586px;
        .teamInformation-border1 {
            height: 1576px;
            .teamInformation-border2 {
                height: 1566;
                .teamInformation-text {
                    font-size: 17px;
                }
                .teamInformation-members {
                    height: 1240px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
                >h1 {
                    font-size: 40px;
                }
            }
        }
    }
}

@media only screen and (max-width: 640px) {
    .teamInformation {
        height: 1426px;
        .teamInformation-border1 {
            height: 1416px;
            .teamInformation-border2 {
                height: 1406;
                .teamInformation-text {
                    font-size: 17px;
                }
                .teamInformation-members {
                    margin-top: 30px;
                    height: 1070px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                }
                >h1 {
                    font-size: 40px;
                }
            }
        }
    }
}
