.about-page {
    .about-page-section {
        font-family: 'Indie Flower', cursive;
        font-size: 40px;
        padding: 70px 50px 70px 50px;
        text-align: center;
    }
}

@media only screen and (max-width: 1119px) {
    .about-page {
        .about-page-section {
            font-size: 30px;
        }
    }
}
