.about-page {
    background: linear-gradient(
        180deg,
        rgba(42, 20, 33, 1) 0%,
        rgba(73, 38, 52, 1) 18%,
        rgba(111, 9, 55, 1) 34%, 
        rgba(163, 58, 102, 1) 56%, 
        rgba(249, 142, 108, 1) 75%, 
        rgba(238, 203, 184, 1) 88%
    ), rgba(238, 203, 184, 1);
    background-size: 100% 3500px;
    background-repeat: no-repeat, repeat;
    .about-page-section {
        font-family: 'Indie Flower', cursive;
        font-size: 40px;
        padding: 70px 50px 70px 50px;
        text-align: center;
        color: rgb(238, 203, 184)
    }
}

@media only screen and (max-width: 1119px) {
    .about-page {
        .about-page-section {
            font-size: 30px;
        }
    }
}
