.starsLeft {
    width: 300px;
    height: 300px;
    &  img {
        width: 500px;
        height: 600px;
        opacity: 0.3;
    }
}

.starsRight {
    transform: rotate(180deg);
    width: 300px;
    height: 300px;
    right: 10px;
    bottom: 0px;
    position: absolute;
    &  img {
        width: 500px;
        height: 600px;
        opacity: 0.3;
    }
}

// @media (max-width: 1142px){
//     .starsRight {
//         width: 600px;
//         height: 500px;
//         position: absolute;
//         right: 10px;
//         top: 87px;
//         transform: rotate(180deg);
//     }
    
// }
// .starsRight {
//             width: 600px;
//             height: 500px
//             position: absolute;
//             right: 10px;
//             bottom: 0px;
//             transform: rotate(180deg);
            
//         }