.footer {
    height: 170px;
    background-color: rgba(117, 71, 129, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .footer-copyrights {
        color: rgb(250, 207, 239);
        font-size: 20px;
    }
}
