.blog-page {
    background: linear-gradient(
        180deg,
        rgba(42, 20, 33, 1) 0%,
        rgba(73, 38, 52, 1) 18%,
        rgba(111, 9, 55, 1) 34%, 
        rgba(163, 58, 102, 1) 56%, 
        rgba(249, 142, 108, 1) 75%, 
        rgba(238, 203, 184, 1) 88%
    ), rgba(238, 203, 184, 1);
    background-size: 100% 2500px;
    background-repeat: no-repeat, repeat;
    .blog-page-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 0 20px 0;
        .blog-page-cards {
            width: 77%;
            padding: 20px 0 20px 0;
            display: flex;
            flex-wrap: wrap;
            .blog-page-card {
                padding: 10px;
            }
        }
    }
}

@media only screen and (max-width: 1330px) {
    .blog-page {
        .blog-page-wrapper {
            .blog-page-cards {
                width: 55%;
            }
        }
    }
}

@media only screen and (max-width: 1270px) {
    .blog-page {
        .blog-page-wrapper {
            .blog-page-cards {
                width: 40%;
            }
        }
    }
}

@media only screen and (max-width: 936px) {
    .blog-page {
        .blog-page-wrapper {
            .blog-page-cards {
                width: 55%;
            }
        }
    }
}

@media only screen and (max-width: 746px) {
    .blog-page {
        .blog-page-wrapper {
            .blog-page-cards {
                width: 65%;
            }
        }
    }
}

@media only screen and (max-width: 588px) {
    .blog-page {
        .blog-page-wrapper {
            .blog-page-cards {
                width: 75%;
            }
        }
    }
}

@media only screen and (max-width: 520px) {
    .blog-page {
        .blog-page-wrapper {
            .blog-page-cards {
                width: 85%;
            }
        }
    }
}

@media only screen and (max-width: 456px) {
    .blog-page {
        .blog-page-wrapper {
            .blog-page-cards {
                width: 60%;
            }
        }
    }
}

@media only screen and (max-width: 387px) {
    .blog-page {
        .blog-page-wrapper {
            .blog-page-cards {
                width: 75%;
            }
        }
    }
}

@media only screen and (max-width: 365px) {
    .blog-page {
        .blog-page-wrapper {
            .blog-page-cards {
                width: 80%;
            }
        }
    }
}

@media only screen and (max-width: 340px) {
    .blog-page {
        .blog-page-wrapper {
            .blog-page-cards {
                width: 85%;
            }
        }
    }
}

@media only screen and (max-width: 314px) {
    .blog-page {
        .blog-page-wrapper {
            .blog-page-cards {
                width: 90%;
            }
        }
    }
}
