.services {
    // width: calc(100% - 20px);
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 750px;
    // border: 10px solid rgb(39, 49, 85);
    border: 5px solid rgb(39, 49, 85);
    margin: 15px;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;

    cursor: context-menu;
    .services-paragraph {
        width: 45%;
        display: flex;
        flex-direction: column;
        justify-content: center;;
        align-items: center;
        
        .services-text-line1 {
            font-family: 'Indie Flower', cursive;
            font-size: 13px;
            opacity: 0.5;
        }
        .services-text-line2 {
            font-family: 'Indie Flower', cursive;
            color: rgb(39, 49, 85);
            font-size: 50px;
            font-weight: bold;
            text-align: center;
            padding: 10px 0 15px 0;
        }
        .services-text-line3 {
            font-family: 'Indie Flower', cursive;
            font-size: 19px;
            text-align: center;
            opacity: 0.5;
        }
    }
    
    .services-cards {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}

@media only screen and (max-width: 1232px) {
    .services {    
        height: 1700px;  
        .services-cards {
            flex-direction: column;
            align-items: center;
        }
    }
}

@media only screen and (max-width: 1232px) {
    .services {    
        .services-paragraph {            
            .services-text-line2 {
                font-size: 34px;
            }
        }
    }
}

@media only screen and (max-width: 435px) {
    .services {   
        height: 1900px; 
    }
}

@media only screen and (max-width: 456px) {
    .services {   
        height: 1970px; 
    }
}
