.services {
    width: 100%;
    height: 400px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 550px;
    .services-paragraph {
        width: 45%;
        display: flex;
        flex-direction: column;
        justify-content: center;;
        align-items: center;
        
        .services-text-line1 {
            font-family: 'Abhaya Libre', serif;
            font-size: 13px;
            opacity: 0.5;
        }
        .services-text-line2 {
            font-family: 'Abhaya Libre', serif;
            font-size: 50px;
            font-weight: bold;
            text-align: center;
            padding: 10px 0 15px 0;
        }
        .services-text-line3 {
            font-family: 'Abhaya Libre', serif;
            font-size: 19px;
            text-align: center;
            opacity: 0.5;
        }
    }
    
    .services-cards {
        display: flex;
        flex-direction: row;
    }
}
