.achievements {
    height: 500px;
    background-image: url('../../../images/photo-1504177847824-d075f5706770.jpg');
    background-size: 1900px 1300px;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    overflow: hidden;
    cursor: context-menu;
    .achievements-feedbacks-paragraph {
        width: 47%;
        display: flex;
        flex-direction: column;
        justify-content: center;;
        align-items: center;
    
        .achievements-feedbacks-text-line1 {
            font-family: 'Abhaya Libre', serif;
            color: rgb(181, 196, 243);
            font-size: 13px;
            opacity: 0.7;
        }
        .achievements-feedbacks-text-line2 {
            font-family: 'Abhaya Libre', serif;
            color: rgb(181, 196, 243);
            font-size: 50px;
            font-weight: bold;
            text-align: center;
            padding: 10px 0 15px 0;
        }
        .achievements-feedbacks-text-line3 {
            font-family: 'Abhaya Libre', serif;
            color: rgb(181, 196, 243);
            font-size: 19px;
            text-align: center;
            opacity: 0.7;
        }
    }

    .achievements-wrapper {
        display: flex;
        justify-content: space-around;
        // width: 800px;
        height: 100px;
        text-align: center;
        padding-top: 50px;
        .achievements-achievment1 {
            width: 350px;
            padding: 0 20px 0 20px;
        }
        .achievements-achievment2 {
            width: 350px;
            padding: 0 20px 0 20px;
        }
        .achievements-achievment3 {
            width: 350px;
            padding: 0 20px 0 20px;
        }
    }
}