.winnerLine4x4 {
    position: absolute;
    left: -10;
    top: -10;
    width: 75%;
    height: 450;
}

.horizontalLineWhite {
    stroke: #F1EBD5;
    stroke-width: 10px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: css 5s linear forwards;
    width: 1000px; 
}

.horizontalLineBrown {
    stroke: #665757;
    stroke-width: 10px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: css 5s linear forwards;
    width: 1000px; 
}

.verticalLineWhite {
    stroke: #F1EBD5;
    stroke-width: 10px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: css 5s linear forwards;
    width: 1000px; 
}

.verticalLineBrown {
    stroke: #665757;
    stroke-width: 10px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: css 5s linear forwards;
    width: 1000px; 
}

.diagonalLineLeftWhite {
    // border: 5px solid #F1EBD5;
    // width: 400px;
    // transform: rotateZ(90deg);
    // transition: width 2s;
    stroke: #F1EBD5;
    stroke-width: 10px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: css 5s linear forwards;
    width: 1000px;  
}

.diagonalLineLeftBrown {
    // border: 5px solid #665757;
    // width: 400px; 
    // transform: rotateZ(90deg);
    // transition: width 2s;
    stroke: #665757;
    stroke-width: 10px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: css 5s linear forwards;
    width: 1000px; 
}

.diagonalLineRightWhite {
    stroke: #F1EBD5;
    stroke-width: 10px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: css 5s linear forwards;
    width: 1000px; 
}

.diagonalLineRightBrown {
    stroke: #665757;
    stroke-width: 10px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: css 5s linear forwards;
    width: 1000px; 
}

@keyframes css {
    to {
      stroke-dashoffset: 0;
    }
  }