.horizontalLineWhite {
    stroke: #F1EBD5;
    stroke-width: 10px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: css 5s linear forwards;
    width: 1669px; 
    height: 450px;
}
.horizontalLineBrown {
    stroke: #665757;
    stroke-width: 10px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: css 5s linear forwards;
    width: 1669px; 
    height: 450px;
}

.verticalLineWhite {
    stroke: #F1EBD5;
    stroke-width: 10px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: css 5s linear forwards;
    width: 1669px; 
    height: 450px;
}

.verticalLineBrown {
    stroke: #665757;
    stroke-width: 10px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: css 5s linear forwards;
    width: 1669px; 
    height: 450px;
}
.diagonalLineLeftWhite {
    // border: 5px solid #F1EBD5;
    // width: 400px;
    // transform: rotateZ(90deg);
    // transition: width 2s;
    stroke: #F1EBD5;
    stroke-width: 10px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: css 5s linear forwards;
    width: 1669px; 
    height: 450px;
}

.diagonalLineLeftBrown {
    // border: 5px solid #665757;
    // width: 400px; 
    // transform: rotateZ(90deg);
    // transition: width 2s;
    stroke: #665757;
    stroke-width: 10px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: css 5s linear forwards;
    width: 1669px; 
    height: 450px;
}
.diagonalLineRightWhite {
    stroke: #F1EBD5;
    stroke-width: 10px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: css 5s linear forwards;
    width: 1669px; 
    height: 450px;
}

.diagonalLineRightBrown {
    stroke: #665757;
    stroke-width: 10px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: css 5s linear forwards;
    width: 1669px; 
    height: 450px;
}
@keyframes css {
    to {
      stroke-dashoffset: 0;
    }
  }