.icons-soc-med {
    display: flex;
    justify-content: space-between;
    margin: 0 0 20px 0;
    .icon-social-media-facebook {
        cursor: pointer;
        &:hover {
            color: rgb(28, 99, 146);
        }
    }
    .icon-social-media-linkedIn {
        cursor: pointer;
        &:hover {
            color: #158cc4;
        }
    }
    .icon-social-media-instagram {
        cursor: pointer;
        width: 30px;
        &:hover {
            background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
            border-radius: 7px;
            color: white;
        }
    }
    .icon-social-media-twitter {
        cursor: pointer;
        &:hover {
            color: #00acee;
        }
    }

    .icon-social-media-instagram-team {
        cursor: pointer;
        width: 20px;
        &:hover {
            background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
            border-radius: 7px;
            color: white;
        }
    }
}
