.grid-row {
    display: flex;

    .grid-cell-gray {
        width: 54px;
        height: 14.5px;
        background-color: rgb(216, 216, 216);
        padding: 0px 4px 0 4px;
        border-left: 1px solid white;
        border-right: 1px solid white;
    }
    .grid-cell-white {
        width: 54px;
        height: 14.5px;
        background-color: white;
        padding: 0px 4px 0 4px;
        border-left: 1px solid white;
        border-right: 1px solid white;
    }
}