.grid-row {
    display: flex;

    .grid-line0 {
        width: 55px;
        height: 13.5px;
        background-color: rgb(216, 216, 216);
        padding: 1px 4px 0 3px;
        border-left: 1px solid white;
        border-right: 1px solid white;
        font-size: 11px;
    }
    .grid-line1 {
        width: 55px;
        height: 13.5px;
        background-color: white;
        padding: 1px 4px 0 3px;
        border-left: 1px solid white;
        border-right: 1px solid white;
        font-size: 11px;
    }
    .grid-line2 {
        width: 55px;
        height: 13.5px;
        background-color: rgb(216, 216, 216);
        padding: 1px 4px 0 3px;
        border-left: 1px solid white;
        border-right: 1px solid white;
        font-size: 11px;
    }
    .grid-line3 {
        width: 55px;
        height: 13.5px;
        background-color:white;
        padding: 1px 4px 0 3px;
        border-left: 1px solid white;
        border-right: 1px solid white;
        font-size: 11px;
    }
    .grid-line4 {
        width: 55px;
        height: 13.5px;
        background-color: rgb(216, 216, 216);
        padding: 1px 4px 0 3px;
        border-left: 1px solid white;
        border-right: 1px solid white;
        font-size: 11px;
    }
}