.quantumComputing{
    margin-left: 10px;
    margin-top: 5px;
    border: 1px solid rgb(156, 156, 156);
    width: 263px;
    height: 68px;
    padding: 5px 5px 5px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .quantumComputing-label {
       font-weight: bold;
    }    
    .quantumComputing-section {
       padding: 5px 0 20px 0;
    }
}

.quantumComputing-wrapper1 {
    display: flex;
    justify-content: space-between;
    width: 207px;
    // color: rgb(112, 112, 112);
}

.quantumComputing-wrapper2 {
    display: flex;
    justify-content: flex-start;
    width: 250px;
    // padding: 7px;
    // color: rgb(112, 112, 112);
}

.quantumComputing-wrapper3 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 143px;
}

.quantumComputing-text-with-effect0 {
    opacity: 0;
}

.quantumComputing-text-with-effect1 {
    opacity: 0;
    animation: fadein1 7s;
    padding-left: 5px;
}

.quantumComputing-text-with-effect2 {
    opacity: 0;
    animation: fadein2 7s;
    padding-left: 5px;
}


@keyframes fadein1 {
    from { opacity: 1; }
    to   { opacity: 0; }
}

@keyframes fadein2 {
    from { opacity: 1; }
    to   { opacity: 0; }
}
