.quantumComputing{
    margin-left: 10px;
    margin-top: 5px;
    border: 1px solid rgb(156, 156, 156);
    width: 268px;
    height: 68px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .quantumComputing-label {
       font-weight: bold;
    }    
    .quantumComputing-section {
       padding: 5px 0 20px 0;
    }
}

.quantumComputing-wrapper1 {
    display: flex;
    justify-content: space-between;
    width: 207px;
    // color: rgb(112, 112, 112);
}

.quantumComputing-text-with-effect {
    opacity: 0;
    animation: fadein 2s;
}


@keyframes fadein {
    from { opacity: 1; }
    to   { opacity: 0; }
}
