// body {
//     background-color: #F1EBD5;
// }
.welcomePage{
    height: 7000px;
}
.startGame {
    padding: 100px;
    align-items: center;
    font-size: 30px;
    text-decoration: none;
    color: black;
    position: absolute;
    left: 35%;
    &:hover {
        text-shadow: 2px 2px rgba(96, 136, 109, 0.5);
    }
}