.main {
    height: 7000px;
    .backgroundBox {
        position: relative;
        height: 600px;
        background-image: url('../Image/background1.png');
        // background-size: auto 600px;
        background-size: 100%;
        background-repeat: no-repeat;
        // clip: rect(500px, 100px, 100px, 0);
        background-position: top center;
        background-attachment: fixed;
        // background-size: contain;
        // background-position: top center;
        overflow: hidden;
        border: 7px solid rgb(13, 48, 42);
        
        // .starsLeft {
        //     width: 600px;
        //     height: 500px;
        //     background-image: url('../../images/bright-star-clipart-11.png');
        //     // background-color: transparentize(pink, 0.3);
        //     background-repeat: no-repeat;
        //     background-position: left top;
        //     background-size: 70%;
        //     position: absolute;
        //     // overflow: hidden;
        //     top: 10px;
        // }

        // .starsRight {
        //     width: 600px;
        //     height: 500px;
        //     background-image: url('../../images/bright-star-clipart-11.png');
        //     // background-color: transparentize(pink, 0.3);
        //     background-repeat: no-repeat;
        //     background-size: 70%;
        //     // background-position: center;
        //     position: absolute;
        //     // overflow: hidden;
        //     right: 10px;
        //     bottom: 0px;
        //     transform: rotate(180deg);
            
        // }
        
      

    }
    
}