.toolbar {
    width: 90%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    border-bottom: 1px solid rgb(221, 214, 214);
}

@media (max-width :653px){
    .toolbar {
        width: 85%;
        justify-content: flex-end;
        padding-left: 10px;
        padding-right: 10px;
    }
}