.hoverComponent {
    background-color: rgb(190, 190, 190);
    border-radius: 4px;
    height: 23px;
    width: 150px;
    position: fixed;
    top: 95px;
    left: 120px;
    text-align: center;
    padding-top: 4px;
}