.sign-up {
    position: fixed;
    left: calc(50% - 200px);
    top: 17%;
    border: 1px solid rgb(13, 48, 42);
    border-radius: 7px;
    box-shadow: 3px 2px 5px 0px rgb(221, 214, 214);
    width: 400px;
    height: 310px;
    background-color: white;
    // transition: all 0.3s ease-out;
    z-index: 1000;
}
.sign-up-child {
    height: inherit;
    position: relative;
    text-align: center;
    padding-top: 30px;
}

.sign-up-text {
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
    color: rgb(13, 48, 42);
}

.sign-up-close-button{
    position: absolute;
    right: 12px;
    top: 10px;
    color: rgb(13, 48, 42);
}