.portfolio-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(238, 203, 184);
    border: 3px solid rgb(42, 20, 33);
    margin: 15px;
    border-radius: 255px 20px 105px 30px/30px 125px 30px 255px;
    // box-shadow: 10px 10px 10px 0 rgb(238, 203, 184);
    .portfolio-content-image{
        // background: rgb(238, 203, 184);
        margin-top: 40px;
        >img {
            width: 600px;
            height: 470px;
        }
    }
    .portfolio-content-spinner {
        position: fixed;
        left: 45%;
        top: 45%;
    }
    .portfolio-content-paragraphs {
        margin: 30px 30px 10px 30px;
        // width: 90%;
        .portfolio-content-paragraph {
            padding: 20px 0 20px 0;
            .portfolio-content-paragraph-title {
                font-family: 'Indie Flower', cursive;
                font-size: 27px;
                text-align: center;
                color: rgb(42, 20, 33);
                padding-bottom: 10px;
            }
            .portfolio-content-paragraph-text {
                .portfolio-content-paragraph-text-item {
                    font-family: 'Indie Flower', cursive;
                    font-size: 22px;
                    opacity: 0.7;
                    padding-bottom: 15px;
                    text-align: justify;
                    text-justify: inter-word;
                    color: rgb(42, 20, 33);
                }
            }
        }
    }
    .portfolio-content-buttons {
        display: flex;
        padding-bottom: 20px;
        width: 93%;
    }
}
