.page2 {
    height: 140px;
}
.logout-page4{
    text-align: center;
    width: max;
    height: 70px;
    position: relative;
    top: 20px;
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
    color: rgb(13, 48, 42);
    &:hover {
        color:  rgb(52, 151, 135);
    }
    
}