.blog {
    height: 770px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // background: rgb(198, 204, 228);
    padding-bottom: 20px;
    cursor: context-menu;
    .blog-paragraph {
        width: 57%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: rgb(42, 20, 33);
        .blog-text-line1 {
            font-family: 'Indie Flower', cursive;
            font-size: 13px;
            opacity: 0.5;
            color: rgb(42, 20, 33);
        }
        .blog-text-line2 {
            font-family: 'Indie Flower', cursive;
            color: rgb(42, 20, 33);
            font-size: 50px;
            font-weight: bold;
            text-align: center;
            padding: 10px 0 15px 0;
        }
        .blog-text-line3 {
            font-family: 'Indie Flower', cursive;
            font-size: 19px;
            text-align: center;
            opacity: 0.5;
            color: rgb(42, 20, 33);
        }
    }
    .blog-wrapper {
        display: flex;
        justify-content: space-evenly;
        width: 80%;
        padding-top: 70px;
    }
}

@media only screen and (max-width: 1270px) {
    .blog {
        height: 1800px;
        .blog-wrapper {
            flex-direction: column;
            align-items: center;
            height: 1500px;
            padding-top: 30px;
        }
    }
}

@media only screen and (max-width: 456px) {
    .blog {
        height: 1500px;
        .blog-paragraph {
            .blog-text-line1 {
                font-size: 11px;
            }
            .blog-text-line2 {
                font-size: 35px;
            }
            .blog-text-line3 {
                font-size: 15px;
            }
        }
        .blog-wrapper {
            height: 1200px;
        }
    }
}