.backgroundBox {
    position: relative;
    height: 600px;
    background-image: url('../../../Image/background1.png');
    // background-size: auto 600px;
    background-size: 100%;
    background-repeat: no-repeat;
    // clip: rect(500px, 100px, 100px, 0);
    background-position: top center;
    background-attachment: fixed;
    // background-size: contain;
    // background-position: top center;
    overflow: hidden;
    border: 7px solid rgb(13, 48, 42);
    // height: 600px;

}

@media only screen and (max-device-width : 1024px) {
    .backgroundBox {
        position: relative;
        height: 537px;
        background-image: url('../../../Image/background1.png');
        // background-size: auto 600px;
        background-size: 100%;
        background-repeat: no-repeat;
        // clip: rect(500px, 100px, 100px, 0);
        background-position: top center;
        background-attachment: fixed;
        // background-size: contain;
        // background-position: top center;
        overflow: hidden;
        border: 7px solid rgb(13, 48, 42);
        // height: 600px;

    
    }
}

@media only screen and (max-width: 2600px) and (min-width: 1440px) {
    .backgroundBox {
        position: relative;
        height: 900px;
        background-image: url('../../../Image/background1.png');
        // background-size: auto 600px;
        background-size: 100%;
        background-repeat: no-repeat;
        // clip: rect(500px, 100px, 100px, 0);
        background-position: top center;
        background-attachment: fixed;
        // background-size: contain;
        // background-position: top center;
        overflow: hidden;
        border: 7px solid rgb(13, 48, 42);
    }
}



    
    
