.sideDrawerOpen {
    border: 1px solid rgb(221, 214, 214);
    border-radius: 7px;
    width: 185px;
    height: 350px;
    background: white;
    position: absolute;
    right: 0px;
    top: 0px;
    animation: moveOpen 1s linear;
}

.sideDrawerClose {
    border: 1px solid rgb(221, 214, 214);
    border-radius: 7px;
    width: 185px;
    height: 350px;
    background: white;
    position: absolute;
    right: 0px;
    top: 0px;
    // transform: translateX(200px);
    // transition: all 1s linear;
    visibility: hidden;
 
    
}



@keyframes moveOpen {
    from {
        width: 0%;
    }
    to {
        width: 185px;
    }
}
// @keyframes moveClose {
//     from {
//         width:  185px;
//     }
//     to {
//         width: 0px;
//     }
// }


// div {
//     border: 1px solid #eee;
//   }
//   div > ul {
//     visibility: hidden;
//     opacity: 0;
//     transition: visibility 0s, opacity 0.5s linear;
//   }
//   div:hover > ul {
//     visibility: visible;
//     opacity: 1;
//   }