.portfolio-comments {
    margin-bottom: 30px;
    .portfolio-comments-total-number-of-comments {
        font-family: 'Indie Flower', cursive;
        font-size: 37px;
        font-weight: bold;
        margin-left: 30px;
        color: rgb(39, 49, 85);
    }
    .portfolio-comment {
        .portfolio-comments-reply {
            margin-left: 70px;
        }
    }
}
