.other-projects {
    width: 100%;
    height: 550px;
    margin: 0 0 0 300px;
}

.other-projects-text {
    font-size: 40px;
    padding: 670px 125px 120px 125px; 
    text-align: center;
}

@media only screen and (max-width: 1680px) {
    .other-projects {
        width: 100%;
        height: 550px;
        margin: 0 0 0 150px;
    }
}

@media only screen and (max-width: 1530px) {
    .other-projects {
        width: 100%;
        height: 550px;
        margin: 0 0 0 70px;
    }
}

@media only screen and (max-width: 1435px) {
    .other-projects {
        width: 100%;
        height: 550px;
        margin: 0 0 0 20px;
    }
}


@media only screen and (max-width: 1386px) {
    .other-projects {
        width: 100%;
        height: 550px;
        margin: 0 0 0 0px;
    }
}



@media only screen and (max-width: 1366px) {
    .other-projects {
        // width: 1300px;
        height: 4350px;
        margin: 0;
        .projects-small-screen {
            width: 430px;
            height: 6150px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

        }
        .other-projects-text {
            font-size: 40px;
            padding: 0px 125px 120px 125px; 
            text-align: center;
        }
    }
}

@media only screen and (max-width: 1040px) {
    .other-projects {
        // width: 1300px;
        height: 4350px;
        margin: 0;
        .projects-small-screen {
            width: 270px;
            height: 6150px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

        }
        .other-projects-text {
            font-size: 40px;
            padding: 0px 125px 120px 125px; 
            text-align: center;
        }
    }
}

@media only screen and (max-width: 920px) {
    .other-projects {
        // width: 1300px;
        height: 4350px;
        margin: 0;
        .projects-small-screen {
            width: 110px;
            height: 6150px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

        }
        .other-projects-text {
            font-size: 40px;
            padding: 0px 125px 120px 125px; 
            text-align: center;
        }
    }
}

@media only screen and (max-width: 870px) {
    .other-projects {
        // width: 1300px;
        height: 2870px;
        margin: 0;
        .projects-small-screen {
            width: 370px;
            height: 4150px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

        }
        .other-projects-text {
            font-size: 30px;
            padding: 0px 125px 120px 125px; 
            text-align: center;
        }
    }
}

@media only screen and (max-width: 734px) {
    .other-projects {
        // width: 1300px;
        height: 2870px;
        margin: 0;
        .projects-small-screen {
            width: 230px;
            height: 4150px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

        }
        .other-projects-text {
            font-size: 30px;
            padding: 0px 125px 120px 125px; 
            text-align: center;
        }
    }
}

@media only screen and (max-width: 620px) {
    .other-projects {
        // width: 1300px;
        height: 2870px;
        margin: 0;
        .projects-small-screen {
            width: 130px;
            height: 4150px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

        }
        .other-projects-text {
            font-size: 30px;
            padding: 0px 125px 120px 125px; 
            text-align: center;
        }
    }
}

@media only screen and (max-width: 576px) {
    .other-projects {
        // width: 1300px;
        height: 2870px;
        margin: 0;
        .projects-small-screen {
            width: 70px;
            height: 4150px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

        }
        .other-projects-text {
            font-size: 30px;
            padding: 0px 125px 120px 125px; 
            text-align: center;
        }
    }
}
