.other-projects {
    width: 100%;
    height: 550px;
    margin: 0 0 0 250px;
    .other-projects-text {
        // position: absolute;
        // left: -600px;
        font-family: 'Indie Flower', cursive;
        width: calc(100% - 600px);
        font-size: 40px;
        padding: 670px 125px 120px 0px; 
        text-align: center;
    }
}

@media only screen and (max-width: 1680px) {
    .other-projects {
        margin: 0 0 0 150px;
        .other-projects-text {
            width: calc(100% - 300px);
        }
    }
}

@media only screen and (max-width: 1600px) {
    .other-projects {
        margin: 0 0 0 70px;
    }
}

@media only screen and (max-width: 1530px) {
    .other-projects {
        .other-projects-text {
            // position: absolute;
            // left: -600px;
            width: calc(100% - 100px);
        }
    }
}

@media only screen and (max-width: 1435px) {
    .other-projects {
        margin: 0 0 0 20px;
    }
}


@media only screen and (max-width: 1386px) {
    .other-projects {
        margin: 0 0 0 0px;
    }
}



@media only screen and (max-width: 1366px) {
    .other-projects {
        height: 4350px;
        margin: 0;
        .projects-small-screen {
            width: 430px;
            height: 6150px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

        }
        .other-projects-text {
            width: calc(100% - 270px);
            font-size: 40px;
            padding: 0px 125px 120px 125px; 
            text-align: center;
        }
    }
}

@media only screen and (max-width: 1040px) {
    .other-projects {
        // width: 1300px;
        height: 4350px;
        margin: 0;
        .projects-small-screen {
            width: 270px;
            height: 6150px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

        }
        .other-projects-text {
            font-size: 40px;
            padding: 0px 125px 120px 125px; 
            text-align: center;
        }
    }
}

@media only screen and (max-width: 920px) {
    .other-projects {
        // width: 1300px;
        height: 4350px;
        margin: 0;
        .projects-small-screen {
            width: 110px;
            height: 6150px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

        }
        .other-projects-text {
            font-size: 40px;
            padding: 0px 125px 120px 125px; 
            text-align: center;
        }
    }
}

@media only screen and (max-width: 870px) {
    .other-projects {
        // width: 1300px;
        height: 3000px;
        margin: 0;
        .projects-small-screen {
            width: 370px;
            height: 4150px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

        }
        .other-projects-text {
            font-size: 30px;
            padding: 0px 125px 120px 125px; 
            text-align: center;
        }
    }
}

@media only screen and (max-width: 734px) {
    .other-projects {
        // width: 1300px;
        height: 2970px;
        margin: 0;
        .projects-small-screen {
            width: 230px;
            height: 4150px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

        }
        .other-projects-text {
            font-size: 30px;
            padding: 0px 125px 120px 125px; 
            text-align: center;
        }
    }
}

@media only screen and (max-width: 620px) {
    .other-projects {
        // width: 1300px;
        height: 3000px;
        margin: 0;
        .projects-small-screen {
            width: 130px;
            height: 4150px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

        }
        .other-projects-text {
            font-size: 30px;
            padding: 0px 125px 120px 125px; 
            text-align: center;
        }
    }
}

@media only screen and (max-width: 576px) {
    .other-projects {
        // width: 1300px;
        height: 3000px;
        margin: 0;
        .projects-small-screen {
            width: 70px;
            height: 4150px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

        }
        .other-projects-text {
            font-size: 27px;
            padding: 0px 125px 120px 125px; 
            text-align: center;
        }
    }
}

@media only screen and (max-width: 530px) {
    .other-projects {
        // width: 1300px;
        height: 2370px;
        margin: 0;
        .projects-small-screen {
            width: 230px;
            height: 3150px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

        }
        .other-projects-text {
            font-size: 23px;
            padding: 0px 115px 120px 125px; 
            text-align: center;
            width: calc(100% - 270px);
        }
    }
}

@media only screen and (max-width: 440px) {
    .other-projects {
        // width: 1300px;
        height: 2310px;
        margin: 0;
        .projects-small-screen {
            width: 150px;
            height: 3150px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

        }
        .other-projects-text {
            width: calc(100% - 100px);
            font-size: 20px;
            padding: 0px 85px 120px 80px; 
            text-align: center;
        }
    }
}

@media only screen and (max-width: 355px) {
    .other-projects {
        // width: 1300px;
        height: 2470px;
        margin: 0;
        .projects-small-screen {
            width: 70px;
            height: 3150px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

        }
        .other-projects-text {
            font-size: 20px;
            padding: 0px 45px 120px 40px; 
            text-align: center;
        }
    }
}

@media only screen and (max-width: 310px) {
    .other-projects {
        // width: 1300px;
        height: 2200px;
        margin: 0;
        .projects-small-screen {
            width: 30px;
            height: 3150px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

        }
        .other-projects-text {
            font-size: 17px;
            padding: 0px 20px 120px 30px; 
            text-align: center;
        }
    }
}
