input {
    border: 1px solid rgb(13, 48, 42);
    border-radius: 3px;
    width: 250px;
    height: 30px;
}

.invalid {
    border: 1px solid rgb(185, 35, 8);
}

.error {
    border-radius: 3px;
    border: 1px solid rgb(185, 35, 8);
    background-color: rgb(250, 229, 229);
    width: 250px;
    height: 25px;
}

.input_error {
    display: flex;
    justify-content: center;
}