.leave-comment-input {
    >input {
        width: 100%;
        height: 30px;
        font-family: 'Abhaya Libre', serif;
        font-size: 20px;
        padding-left: 5px;
        resize: none;
        outline: none;
    }
    >textarea {
        width: 100%;
        font-family: 'Abhaya Libre', serif;
        font-size: 20px;
        padding-left: 5px;
        resize: vertical;
        outline: none;
    }
}

.add-comment-input{
    width: 95%;
    >input {
        width: 100%;
        height: 27px;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        padding: 10px;
        border: none
    }
}  
.invalid {
    >input {
        width: 100%;
        height: 30px;
        border: 1px solid red;
        font-family: 'Abhaya Libre', serif;
        font-size: 20px;
        padding-left: 5px;
        resize: none;
        outline: none;
    }  
    >textarea {
        width: 100%;
        border: 1px solid red;
        font-family: 'Abhaya Libre', serif;
        font-size: 20px;
        padding-left: 5px;
        resize: vertical;
        outline: none;
    }
    .error {
        width: inherit;
        padding: 7px 5px 7px 5px;
        color: red;
    }
}
