.leave-comment {
    margin-top: 30px;
    margin-left: 30px;
    .leave-comment-text {
        font-family: 'Indie Flower', cursive;
        font-size: 37px;
        font-weight: bold;
        color: rgb(42, 20, 33);
    }
    .leave-comment-form {
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 40%;
        margin: 40px 0 40px 0;
        padding: 30px;
        box-shadow: 10px 10px 10px 5px rgb(73, 38, 52);
        background: rgb(238, 203, 184);
        .leave-comment-form-inputs {
            margin: 0px 0 20px 0;
            .leave-comment-form-input {
                margin: 10px 0 10px 0;
                .leave-comment-form-input-name {
                    font-family: 'Indie Flower', cursive;
                    color: rgb(42, 20, 33);
                    font-size: 20px;
                    margin: 0 0 5px 3px;
                }
            }
        }
    }
}
