.portfolio {
    width: calc(100% - 20px);
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 1600px;
    border: 10px solid rgb(39, 49, 85);
    padding-bottom: 140px;
    .portfolio-paragraph {
        width: 55%;
        display: flex;
        flex-direction: column;
        justify-content: center;;
        align-items: center;
        
        .portfolio-text-line1 {
            font-family: 'Abhaya Libre', serif;
            font-size: 13px;
            opacity: 0.5;
        }
        .portfolio-text-line2 {
            font-family: 'Abhaya Libre', serif;
            color: rgb(39, 49, 85);
            font-size: 50px;
            font-weight: bold;
            text-align: center;
            padding: 10px 0 15px 0;
        }
        .portfolio-text-line3 {
            font-family: 'Abhaya Libre', serif;
            font-size: 19px;
            text-align: center;
            opacity: 0.5;
        }
    }

    .portfolio-template {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 67%;
        .portfolio-image-first {
            position: absolute;
            left: 200px;
            top: 4370px;
            margin: 0 50px 0 0;
            box-shadow: 10px 10px 10px 0 rgb(101, 64, 136);
            >img {
                width: 550px;
                height: 410px;
            }
        }

        .portfolio-image-third {
            position: absolute;
            left: 200px;
            top: 5570px;
            margin: 0 50px 0 0;
            box-shadow: 10px 10px 10px 0 rgb(101, 64, 136);
            >img {
                width: 550px;
                height: 410px;
            }
        }

        .portfolio-description {
            display: flex;
            flex-direction: column;
            width: 400px;
            margin: 0px 0 50px 0px;
        }
    }

    .portfolio-template-middle {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 67%;
        margin: 40px 0 40px 0;
        .portfolio-image-second {
            position: absolute;
            right: 200px;
            top: 4920px;
            margin: 50px 0 50px 50px;
            box-shadow: -10px 10px 10px 0 rgb(101, 64, 136);
            >img {
                width: 550px;
                height: 410px;
            }
        }

        .portfolio-description-middle {
            display: flex;
            flex-direction: column;
            width: 400px;
            margin: 0 50px 0 0;
        }
    }
}

.portfolio-description-name {
    font-family: 'Abhaya Libre', serif;
    font-size: 13px;
    opacity: 0.5;
}
.portfolio-description-header {
    font-family: 'Abhaya Libre', serif;
    font-size: 30px;
    font-weight: bold;
    color: rgb(39, 49, 85);
    padding: 10px 0 15px 0;
}
.portfolio-description-text {
    font-family: 'Abhaya Libre', serif;
    font-size: 19px;
    opacity: 0.5;
}



@media only screen and (max-width: 1571px) {
    .portfolio {
        .portfolio-template {
            width: 77%;
            .portfolio-image-first {
                left: 100px;
            }
            .portfolio-image-third {
                left: 100px;
            }
        }
    
        .portfolio-template-middle {
            width: 77%;
            .portfolio-image-second {
                right: 100px;
            }
        }
    }
}

@media only screen and (max-width: 1366px) {
    .portfolio {
        .portfolio-template {
            .portfolio-image-first {
                top: 10100px;
                left: 220px;
                >img {
                    width: 350px;
                    height: 270px;
                }
            }
    
            .portfolio-image-third {
                top: 11400px;
                left: 220px;
                >img {
                    width: 350px;
                    height: 270px;
                }
            }
        }
    
        .portfolio-template-middle {
            .portfolio-image-second {
                right: 220px;
                top: 10700px;
                >img {
                    width: 350px;
                    height: 270px;
                }
            }
        }
    }
}

@media only screen and (max-width: 1234px){
    .portfolio {
        .portfolio-template {
            .portfolio-image-first {
                top: 11600px;
                left: 150px;
                >img {
                    width: 350px;
                    height: 270px;
                }
            }
    
            .portfolio-image-third {
                top: 12880px;
                left: 150px;
                >img {
                    width: 350px;
                    height: 270px;
                }
            }
        }
    
        .portfolio-template-middle {
            .portfolio-image-second {
                right: 150px;
                top: 12190px;
                >img {
                    width: 350px;
                    height: 270px;
                }
            }
        }
    }
}

@media only screen and (max-width: 1060px){
    .portfolio {
        .portfolio-template {
            .portfolio-image-first {
                top: 11600px;
                left: 100px;
                >img {
                    width: 350px;
                    height: 270px;
                }
            }
    
            .portfolio-image-third {
                top: 12880px;
                left: 100px;
                >img {
                    width: 350px;
                    height: 270px;
                }
            }
        }
    
        .portfolio-template-middle {
            .portfolio-image-second {
                right: 100px;
                top: 12190px;
                >img {
                    width: 350px;
                    height: 270px;
                }
            }
        }
    }
}


@media only screen and (max-width: 1000px){
    .portfolio {
        height: 2200px;
        .portfolio-template {
            height: 700px;
            justify-content: center;
            align-items: flex-end;
            .portfolio-image-first {
                top: 11600px;
                left: 270px;
                >img {
                    width: 350px;
                    height: 270px;
                }
            }
    
            .portfolio-image-third {
                top: 13480px;
                left: 270px;
                >img {
                    width: 350px;
                    height: 270px;
                }
            }

            .portfolio-description {
                // width: 400px;
                margin: 0px;
            }
        }
    
        .portfolio-template-middle {
            justify-content: center;
            width: 67%;
            height: 700px;
            margin: 0px;
            align-items: flex-end;
            .portfolio-image-second {
                right: 290px;
                top: 12490px;
                >img {
                    width: 350px;
                    height: 270px;
                }
            }

            .portfolio-description-middle {
                margin: 0px;
            }
        }
    }
}