.portfolio {
    width: calc(100% - 20px);
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 1600px;
    border: 10px solid rgb(39, 49, 85);
    padding-bottom: 140px;
    .portfolio-paragraph {
        width: 55%;
        display: flex;
        flex-direction: column;
        justify-content: center;;
        align-items: center;
        
        .portfolio-text-line1 {
            font-family: 'Abhaya Libre', serif;
            font-size: 13px;
            opacity: 0.5;
        }
        .portfolio-text-line2 {
            font-family: 'Abhaya Libre', serif;
            color: rgb(39, 49, 85);
            font-size: 50px;
            font-weight: bold;
            text-align: center;
            padding: 10px 0 15px 0;
        }
        .portfolio-text-line3 {
            font-family: 'Abhaya Libre', serif;
            font-size: 19px;
            text-align: center;
            opacity: 0.5;
        }
    }

    .portfolio-template {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 67%;
        .portfolio-image-first {
            position: absolute;
            left: 200px;
            top: 4250px;
            margin: 0 50px 0 0;
            box-shadow: 10px 10px 10px 0 rgb(101, 64, 136);
            >img {
                width: 550px;
                height: 410px;
            }
        }

        .portfolio-image-third {
            position: absolute;
            left: 200px;
            top: 5600px;
            margin: 0 50px 0 0;
            box-shadow: 10px 10px 10px 0 rgb(101, 64, 136);
            >img {
                width: 550px;
                height: 410px;
            }
        }

        .portfolio-description {
            display: flex;
            flex-direction: column;
            width: 400px;
            margin: 0px 0 50px 0px;
        }
    }

    .portfolio-template-middle {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 70%;
        margin: 40px 0 40px 0;
        .portfolio-image-second {
            position: absolute;
            right: 200px;
            top: 4860px;
            margin: 50px 0 50px 50px;
            box-shadow: -10px 10px 10px 0 rgb(101, 64, 136);
            >img {
                width: 550px;
                height: 410px;
            }
        }

        .portfolio-description-middle {
            display: flex;
            flex-direction: column;
            width: 400px;
            margin: 0 50px 0 0;
        }
    }
}

.portfolio-description-name {
    font-family: 'Abhaya Libre', serif;
    font-size: 13px;
    opacity: 0.5;
}
.portfolio-description-header {
    font-family: 'Abhaya Libre', serif;
    font-size: 30px;
    font-weight: bold;
    color: rgb(39, 49, 85);
    padding: 10px 0 15px 0;
}
.portfolio-description-text {
    font-family: 'Abhaya Libre', serif;
    font-size: 19px;
    opacity: 0.5;
}



@media only screen and (max-width: 1366px) {
    .portfolio {
        .portfolio-template {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 70%;
            .portfolio-image-first {
                position: absolute;
                left: 100px;
                top: 8100px;
                margin: 0 50px 0 0;
                box-shadow: 10px 10px 10px 0 rgb(101, 64, 136);
                >img {
                    width: 550px;
                    height: 410px;
                }
            }
    
            .portfolio-image-third {
                position: absolute;
                left: 100px;
                top: 10400px;
                margin: 0 50px 0 0;
                box-shadow: 10px 10px 10px 0 rgb(101, 64, 136);
                >img {
                    width: 550px;
                    height: 410px;
                }
            }
    
            .portfolio-description {
                display: flex;
                flex-direction: column;
                width: 400px;
                margin: 0px 0 50px 0px;
            }
        }
    
        .portfolio-template-middle {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 70%;
            .portfolio-image-second {
                position: absolute;
                right: 100px;
                top: 8650px;
                margin: 50px 0 50px 50px;
                box-shadow: -10px 10px 10px 0 rgb(101, 64, 136);
                >img {
                    width: 550px;
                    height: 410px;
                }
            }
    
            .portfolio-description-middle {
                display: flex;
                flex-direction: column;
                width: 400px;
                margin: 0 50px 0 0;
            }
        }
    }
    
}


// @media only screen and (min-width: 1000px){
//     .portfolio-template {
//         display: flex;
//         justify-content: flex-end;
//         align-items: center;
//         width: 70%;
//         .portfolio-image-first {
//             position: absolute;
//             left: 100px;
//             top: 4100px;
//             margin: 0 50px 0 0;
//             box-shadow: 10px 10px 10px 0 rgb(101, 64, 136);
//             >img {
//                 width: 550px;
//                 height: 410px;
//             }
//         }

//         .portfolio-image-third {
//             position: absolute;
//             left: 100px;
//             top: 5400px;
//             margin: 0 50px 0 0;
//             box-shadow: 10px 10px 10px 0 rgb(101, 64, 136);
//             >img {
//                 width: 550px;
//                 height: 410px;
//             }
//         }

//         .portfolio-description {
//             display: flex;
//             flex-direction: column;
//             width: 400px;
//             margin: 0px 0 50px 0px;
//         }
//     }

//     .portfolio-template-middle {
//         display: flex;
//         justify-content: flex-start;
//         align-items: center;
//         width: 70%;
//         .portfolio-image-second {
//             position: absolute;
//             right: 100px;
//             top: 4650px;
//             margin: 50px 0 50px 50px;
//             box-shadow: -10px 10px 10px 0 rgb(101, 64, 136);
//             >img {
//                 width: 550px;
//                 height: 410px;
//             }
//         }

//         .portfolio-description-middle {
//             display: flex;
//             flex-direction: column;
//             width: 400px;
//             margin: 0 50px 0 0;
//         }
//     }
// }