.portfolio {
    width: calc(100% - 20px);
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 1600px;
    border: 10px solid rgb(39, 49, 85);
    padding-bottom: 140px;
    .portfolio-paragraph {
        width: 55%;
        display: flex;
        flex-direction: column;
        justify-content: center;;
        align-items: center;
        
        .portfolio-text-line1 {
            font-family: 'Abhaya Libre', serif;
            font-size: 13px;
            opacity: 0.5;
        }
        .portfolio-text-line2 {
            font-family: 'Abhaya Libre', serif;
            color: rgb(39, 49, 85);
            font-size: 50px;
            font-weight: bold;
            text-align: center;
            padding: 10px 0 15px 0;
        }
        .portfolio-text-line3 {
            font-family: 'Abhaya Libre', serif;
            font-size: 19px;
            text-align: center;
            opacity: 0.5;
        }
    }

    .portfolio-template {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 67%;
        .portfolio-image-first {
            position: absolute;
            left: 200px;
            top: 4470px;
            margin: 0 50px 0 0;
            box-shadow: 10px 10px 10px 0 rgb(101, 64, 136);
            >img {
                width: 550px;
                height: 410px;
            }
        }

        .portfolio-image-third {
            position: absolute;
            left: 200px;
            top: 5670px;
            margin: 0 50px 0 0;
            box-shadow: 10px 10px 10px 0 rgb(101, 64, 136);
            >img {
                width: 550px;
                height: 410px;
            }
        }

        .portfolio-description {
            display: flex;
            flex-direction: column;
            width: 400px;
            margin: 0px 0 50px 0px;
        }
    }

    .portfolio-template-middle {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 67%;
        margin: 40px 0 40px 0;
        .portfolio-image-second {
            position: absolute;
            right: 200px;
            top: 5020px;
            margin: 50px 0 50px 50px;
            box-shadow: -10px 10px 10px 0 rgb(101, 64, 136);
            >img {
                width: 550px;
                height: 410px;
            }
        }

        .portfolio-description-middle {
            display: flex;
            flex-direction: column;
            width: 400px;
            margin: 0 50px 0 0;
        }
    }
}

.portfolio-description-name {
    font-family: 'Abhaya Libre', serif;
    font-size: 13px;
    opacity: 0.5;
}
.portfolio-description-header {
    font-family: 'Abhaya Libre', serif;
    font-size: 30px;
    font-weight: bold;
    color: rgb(39, 49, 85);
    padding: 10px 0 15px 0;
}
.portfolio-description-text {
    font-family: 'Abhaya Libre', serif;
    font-size: 19px;
    opacity: 0.5;
}



@media only screen and (max-width: 1571px) {
    .portfolio {
        .portfolio-template {
            width: 77%;
            .portfolio-image-first {
                left: 100px;
                top: 4570px;
            }
            .portfolio-image-third {
                left: 100px;
                top: 5700px;
            }
        }
    
        .portfolio-template-middle {
            width: 77%;
            .portfolio-image-second {
                right: 100px;
                top: 5050px;
            }
        }
    }
}

@media only screen and (max-width: 1571px) and (max-height: 800px) {
    .portfolio {
        .portfolio-template {
            width: 77%;
            .portfolio-image-first {
                left: 100px;
                top: 4170px;
            }
            .portfolio-image-third {
                left: 100px;
                top: 5460px;
            }
        }
    
        .portfolio-template-middle {
            width: 77%;
            .portfolio-image-second {
                right: 100px;
                top: 4800px;
            }
        }
    }
}

@media only screen and (max-width: 1366px){
    .portfolio {
        height: 1500px;
        .portfolio-template {
            .portfolio-image-first {
                top: 10200px;
                left: 220px;
                >img {
                    width: 350px;
                    height: 270px;
                }
            }
    
            .portfolio-image-third {
                top: 11400px;
                left: 220px;
                >img {
                    width: 350px;
                    height: 270px;
                }
            }
        }
    
        .portfolio-template-middle {
            .portfolio-image-second {
                right: 220px;
                top: 10750px;
                >img {
                    width: 350px;
                    height: 270px;
                }
            }
        }
    }
}

@media only screen and (max-width: 1366px) and (max-height: 800px){
    .portfolio {
        height: 1500px;
        .portfolio-template {
            .portfolio-image-first {
                top: 9900px;
                left: 220px;
                >img {
                    width: 350px;
                    height: 270px;
                }
            }
    
            .portfolio-image-third {
                top: 11090px;
                left: 220px;
                >img {
                    width: 350px;
                    height: 270px;
                }
            }
        }
    
        .portfolio-template-middle {
            .portfolio-image-second {
                right: 220px;
                top: 10490px;
                >img {
                    width: 350px;
                    height: 270px;
                }
            }
        }
    }
}

@media only screen and (max-width: 1234px){
    .portfolio {
        .portfolio-template {
            .portfolio-image-first {
                top: 11700px;
                left: 150px;
                >img {
                    width: 350px;
                    height: 270px;
                }
            }
    
            .portfolio-image-third {
                top: 12780px;
                left: 150px;
                >img {
                    width: 350px;
                    height: 270px;
                }
            }
        }
    
        .portfolio-template-middle {
            .portfolio-image-second {
                right: 150px;
                top: 12220px;
                >img {
                    width: 350px;
                    height: 270px;
                }
            }
        }
    }
}

@media only screen and (max-width: 1234px) and (max-height: 800px){
    .portfolio {
        .portfolio-template {
            .portfolio-image-first {
                top: 11340px;
                left: 150px;
                >img {
                    width: 350px;
                    height: 270px;
                }
            }
    
            .portfolio-image-third {
                top: 12560px;
                left: 150px;
                >img {
                    width: 350px;
                    height: 270px;
                }
            }
        }
    
        .portfolio-template-middle {
            .portfolio-image-second {
                right: 150px;
                top: 11960px;
                >img {
                    width: 350px;
                    height: 270px;
                }
            }
        }
    }
}

@media only screen and (max-width: 1060px){
    .portfolio {
        .portfolio-template {
            .portfolio-image-first {
                top: 11700px;
                left: 100px;
                >img {
                    width: 350px;
                    height: 270px;
                }
            }
    
            .portfolio-image-third {
                top: 12780px;
                left: 100px;
                >img {
                    width: 350px;
                    height: 270px;
                }
            }
        }
    
        .portfolio-template-middle {
            .portfolio-image-second {
                right: 100px;
                top: 12200px;
                >img {
                    width: 350px;
                    height: 270px;
                }
            }
        }
    }
}

@media only screen and (max-width: 1060px) and (max-height: 800px){
    .portfolio {
        .portfolio-template {
            .portfolio-image-first {
                top: 11370px;
                left: 100px;
                >img {
                    width: 350px;
                    height: 270px;
                }
            }
    
            .portfolio-image-third {
                top: 12500px;
                left: 100px;
                >img {
                    width: 350px;
                    height: 270px;
                }
            }
        }
    
        .portfolio-template-middle {
            .portfolio-image-second {
                right: 100px;
                top: 11970px;
                >img {
                    width: 350px;
                    height: 270px;
                }
            }
        }
    }
}

@media only screen and (max-width: 1000px){
    .portfolio {
        height: 2200px;
        .portfolio-template {
            height: 700px;
            justify-content: center;
            align-items: flex-end;
            width: 67%;
            .portfolio-image-first {
                top: 11600px;
                left: 270px;
                >img {
                    width: 350px;
                    height: 270px;
                }
            }
    
            .portfolio-image-third {
                top: 13480px;
                left: 270px;
                >img {
                    width: 350px;
                    height: 270px;
                }
            }

            .portfolio-description {
                // width: 400px;
                margin: 0px;
            }
        }
    
        .portfolio-template-middle {
            justify-content: center;
            width: 67%;
            height: 700px;
            margin: 0px;
            align-items: flex-end;
            .portfolio-image-second {
                right: 290px;
                top: 12490px;
                >img {
                    width: 350px;
                    height: 270px;
                }
            }

            .portfolio-description-middle {
                margin: 0px;
            }
        }
    }
}

@media only screen and (max-width: 1000px) and (max-height: 800px){
    .portfolio {
        height: 2200px;
        .portfolio-paragraph {
            .portfolio-text-line1 {
                padding-top: 20px;
            }
        }
        .portfolio-template {
            height: 700px;
            justify-content: center;
            align-items: flex-end;
            width: 67%;
            .portfolio-image-first {
                top: 11430px;
                left: 270px;
                >img {
                    width: 350px;
                    height: 270px;
                }
            }
    
            .portfolio-image-third {
                top: 13200px;
                left: 270px;
                >img {
                    width: 350px;
                    height: 270px;
                }
            }

            .portfolio-description {
                margin: 0px;
            }
        }
    
        .portfolio-template-middle {
            justify-content: center;
            width: 67%;
            height: 700px;
            margin: 0px;
            align-items: flex-end;
            .portfolio-image-second {
                right: 290px;
                top: 12240px;
                >img {
                    width: 350px;
                    height: 270px;
                }
            }

            .portfolio-description-middle {
                margin: 0px;
            }
        }
    }
}

@media only screen and (max-width: 870px){
    .portfolio {
        height: 2200px;
        .portfolio-template {
            height: 400px;
            .portfolio-image-first {
                left: 200px;
                top: 9770px;
            }
    
            .portfolio-image-third {
                left: 200px;
                top: 11370px;
            }

            .portfolio-description {
                // width: 400px;
                margin: 0px;
            }
        }
    
        .portfolio-template-middle {
            height: 400px;
            .portfolio-image-second {
                right: 210px;
                top: 10570px;
            }
        }
    }
}

@media only screen and (max-width: 720px){
    .portfolio {
        .portfolio-template {
            height: 400px;
            .portfolio-image-first {
                left: 120px;
                top: 9670px;
                >img {
                    width: 350px;
                    height: 270px;
                }
            }
    
            .portfolio-image-third {
                left: 120px;
                top: 11370px;
                >img {
                    width: 350px;
                    height: 270px;
                }
            }

            .portfolio-description {
                // width: 400px;
                margin: 0px;
            }
        }
    
        .portfolio-template-middle {
            height: 400px;
            .portfolio-image-second {
                right: 150px;
                top: 10470px;
                >img {
                    width: 350px;
                    height: 270px;
                }
            }
        }
    }
}

@media only screen and (max-width: 640px){
    .portfolio {
        height: 1850px;
        .portfolio-paragraph {   
            .portfolio-text-line2 {
                font-size: 40px;
            }
        }
        .portfolio-template {
            height: 400px;
            .portfolio-image-first {
                left: 120px;
                top: 9620px;
                >img {
                    width: 300px;
                    height: 230px;
                }
            }
    
            .portfolio-image-third {
                left: 120px;
                top: 11000px;
                >img {
                    width: 300px;
                    height: 230px;
                }
            }
        }
    
        .portfolio-template-middle {
            height: 400px;
            .portfolio-image-second {
                right: 150px;
                top: 10270px;
                >img {
                    width: 300px;
                    height: 230px;
                }
            }
        }
    }
    .portfolio-description-name {
        font-size: 11px;
    }
    .portfolio-description-header {
        font-size: 25px;
    }
    .portfolio-description-text {
        font-size: 15px;
    }
}

@media only screen and (max-width: 533px){
    .portfolio {
        .portfolio-paragraph {   
            .portfolio-text-line1 {
                font-size: 12px;
                padding-top: 20px;
            }
            .portfolio-text-line2 {
                font-size: 30px;
            }
            .portfolio-text-line3 {
                font-size: 15px;
            }
        }
        .portfolio-template {
            height: 600px;
            width: 50%;
            .portfolio-image-first {
                left: 120px;
                top: 9530px;
                >img {
                    width: 300px;
                    height: 230px;
                }
            }
    
            .portfolio-image-third {
                left: 120px;
                top: 11000px;
                >img {
                    width: 300px;
                    height: 230px;
                }
            }
        }
    
        .portfolio-template-middle {
            height: 600px;
            width: 50%;
            .portfolio-image-second {
                right: 100px;
                top: 10270px;
                >img {
                    width: 300px;
                    height: 230px;
                }
            }
        }
    }
}

@media only screen and (max-width: 531px){
    .portfolio {
        .portfolio-template {
            .portfolio-image-first {
                left: 120px;
                top: 8530px;
            }
    
            .portfolio-image-third {
                left: 120px;
                top: 10120px;
            }
        }
    
        .portfolio-template-middle {
            .portfolio-image-second {
                right: 100px;
                top: 9250px;
            }
        }
    }
}

@media only screen and (max-width: 490px){
    .portfolio {
        .portfolio-template {
            height: 300px;
            .portfolio-image-first {
                left: 120px;
                top: 8670px;
                >img {
                    width: 200px;
                    height: 150px;
                }
            }
    
            .portfolio-image-third {
                left: 120px;
                top: 10090px;
                >img {
                    width: 200px;
                    height: 150px;
                }
            }
        }
    
        .portfolio-template-middle {
            height: 300px;
            width: 50%;
            .portfolio-image-second {
                right: 130px;
                top: 9330px;
                >img {
                    width: 200px;
                    height: 150px;
                }
            }
        }
    }
}

@media only screen and (max-width: 457px){
    .portfolio {
        .portfolio-paragraph {   
            .portfolio-text-line1 {
                font-size: 12px;
                padding-top: 0px;
            }
        }
        .portfolio-template {
            height: 400px;
            .portfolio-image-first {
                left: 120px;
                top: 9060px;
                >img {
                    width: 200px;
                    height: 150px;
                }
            }
    
            .portfolio-image-third {
                left: 120px;
                top: 10473px;
                >img {
                    width: 200px;
                    height: 150px;
                }
            }
        }
    
        .portfolio-template-middle {
            height: 400px;
            width: 50%;
            .portfolio-image-second {
                right: 130px;
                top: 9720px;
                >img {
                    width: 200px;
                    height: 150px;
                }
            }
        }
    }
}

@media only screen and (max-width: 441px){
    .portfolio {
        .portfolio-template {
            .portfolio-image-first {
                left: 100px;
                top: 8970px;
            }
        }
        .portfolio-template-middle {
            .portfolio-image-second {
                right: 100px;
            }
        }
    }
}

@media only screen and (max-width: 370px){
    .portfolio {
        .portfolio-template {
            .portfolio-image-first {
                left: 90px;
                top: 9070px;
            }
            .portfolio-image-third {
                left: 90px;
            }
        }
        .portfolio-template-middle {
            .portfolio-image-second {
                right: 80px;
            }
        }
    }
}

@media only screen and (max-width: 356px){
    .portfolio {
        .portfolio-template {
            .portfolio-image-first {
                left: 90px;
                top: 9270px;
            }
            .portfolio-image-third {
                left: 90px;
                top: 10670px;
            }
        }
        .portfolio-template-middle {
            .portfolio-image-second {
                right: 60px;
                top: 9980px;
            }
        }
    }
}
// and (max-height: 800px) 