.feedback {
    font-family: 'Handlee', cursive;
    border: 2px solid rgb(136, 0, 101);
    height: 396px;
    .feedback-border1 {
        border: 2px solid rgb(136, 0, 101);
        margin: 3px;
        height: 385px;
        .feedback-border2 {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border: 2px solid rgb(136, 0, 101);
            margin: 3px;
            height: 374px;
            .feedback-text {
                padding: 0 70px 0 70px;
                font-size: 20px;
            }
            >h1 {
                color:rgb(136, 0, 101);
                font-size: 43px;
                text-align: center; 
            }
        }
    }
}

@media only screen and (max-width: 758px) {
    .feedback {
        height: 345px;
        .feedback-border1 {
            height: 333px;
            .feedback-border2 {
                height: 322px;
                >h1 {
                    font-size: 33px;
                }
            }
        }
    }
}

@media only screen and (max-width: 530px) {
    .feedback {
        .feedback-border1 {
            .feedback-border2 {
                >h1 {
                    font-size: 25px;
                }
            }
        }
    }
}