.feedback {
    font-family: 'Handlee', cursive;
    border: 2px solid rgb(136, 0, 101);
    height: 396px;
    .feedback-border1 {
        border: 2px solid rgb(136, 0, 101);
        margin: 3px;
        height: 385px;
        .feedback-border2 {
            border: 2px solid rgb(136, 0, 101);
            margin: 3px;
            height: 374px;
            .feedback-text {
                padding: 0 70px 0 70px;
                font-size: 20px;
            }
            >h1 {
                color:rgb(136, 0, 101);
                font-size: 43px;
                text-align: center; 
            }
        }
    }
}

@media only screen and (max-width: 1115px) {
    .feedback {
        font-family: 'Handlee', cursive;
        border: 2px solid rgb(136, 0, 101);
        height: 795px;
        .feedback-border1 {
            border: 2px solid rgb(136, 0, 101);
            margin: 3px;
            height: 785px;
            .feedback-border2 {
                border: 2px solid rgb(136, 0, 101);
                margin: 3px;
                height: 775;

                .feedback-text {
                    padding: 0 70px 0 70px;
                    font-size: 24px;
                }
            }
        }
    }
}

@media only screen and (max-width: 1067px) {
    .feedback {
        font-family: 'Handlee', cursive;
        border: 2px solid rgb(136, 0, 101);
        height: 1396px;
        .feedback-border1 {
            border: 2px solid rgb(136, 0, 101);
            margin: 3px;
            height: 1386px;
            .feedback-border2 {
                border: 2px solid rgb(136, 0, 101);
                margin: 3px;
                height: 1376;

                .feedback-text {
                    padding: 0 70px 0 70px;
                    font-size: 20px;
                }
            }
        }
    }
}


@media only screen and (max-width: 782px) {
    .feedback {
        font-family: 'Handlee', cursive;
        border: 2px solid rgb(136, 0, 101);
        height: 1396px;
        .feedback-border1 {
            border: 2px solid rgb(136, 0, 101);
            margin: 3px;
            height: 1386px;
            .feedback-border2 {
                border: 2px solid rgb(136, 0, 101);
                margin: 3px;
                height: 1376;

                .feedback-text {
                    padding: 0 70px 0 70px;
                    font-size: 17px;
                }
                >h1 {
                    color:rgb(136, 0, 101);
                    font-size: 40px;
                    text-align: center; 
                }
            }
        }
    }
}

@media only screen and (max-width: 640px) {
    .feedback {
        font-family: 'Handlee', cursive;
        border: 2px solid rgb(136, 0, 101);
        height: 1396px;
        .feedback-border1 {
            border: 2px solid rgb(136, 0, 101);
            margin: 3px;
            height: 1386px;
            .feedback-border2 {
                border: 2px solid rgb(136, 0, 101);
                margin: 3px;
                height: 1376;

                .feedback-text {
                    padding: 0 70px 0 70px;
                    font-size: 17px;
                }
                >h1 {
                    color:rgb(136, 0, 101);
                    font-size: 40px;
                    text-align: center; 
                }
            }
        }
    }
}
