.pagination {
    display: flex;
    align-items: center;
    .pagination-items {
        display: flex;
        font-family: 'Indie Flower', cursive;
        .pagination-item {
            margin: 5px;
            width: 30px;
            height: 25px;
            color: rgb(39, 49, 85);
            border: 1px solid rgb(39, 49, 85);
            background: rgb(231, 223, 240);
            border-radius: 50%;
            text-align: center;
            padding-top: 3px;
            cursor: pointer;
        }
        .pagination-item-chosen {
            margin: 5px;
            width: 30px;
            height: 25px;
            border: 1px solid rgb(39, 49, 85);
            background-color: rgb(175, 192, 255);
            color: rgb(13, 48, 42); 
            box-shadow: 3px 3px 5px 0px rgb(101, 64, 136);
            border-radius: 50%;
            text-align: center;
            padding-top: 3px;
            cursor: pointer;
        }
    }
}