.pagination {
    display: flex;
    align-items: center;
    .pagination-items {
        display: flex;
        font-family: 'Indie Flower', cursive;
        .pagination-item-stage {
            width: 40px;
            height: 40px;
            position: relative;
            top: 5px;
            // left: 85px;
            // display: inline-block;
            // margin: 20px;
            -webkit-perspective: 1200px;
            -moz-perspective: 1200px;
            -ms-perspective: 1200px;
            -o-perspective: 1200px;
            perspective: 1200px;
            -webkit-perspective-origin: 50% 50%;
            -moz-perspective-origin: 50% 50%;
            -ms-perspective-origin: 50% 50%;
            -o-perspective-origin: 50% 50%;
            perspective-origin: 50% 50%;
            .pagination-item {
                display: flex;
                // text-align: center;
                width: 30px;
                height: 30px;
                border-radius: 100%;
                position: relative;
                background: radial-gradient(circle at 50% 55%, rgba(237,200,184,1) 0%, rgba(231,168,154,1) 10%, rgba(135,43,86,1) 80%, rgba(27,3,10,1) 100%);
                cursor: pointer;
            }
    
            .pagination-item:before {
                content: "";
                position: absolute;
                top: 1%;
                left: 5%;
                width: 90%;
                height: 90%;
                border-radius: 100%;
                background: radial-gradient(circle at top, white, rgba(255, 255, 255, 0) 58%);
                filter: blur(5px);
                z-index: 2; 
            }
            .pagination-item:after {
                content: "";
                position: absolute;
                display: none;
                top: 5%;
                left: 10%;
                width: 80%;
                height: 80%;
                border-radius: 100%;
                filter: blur(1px);
                z-index: 2;
            }
            .pagination-item.pagination-item-bubble {
              background: radial-gradient(circle at 50% 55%, rgba(237,200,184,1) 0%, rgba(231,168,154,1) 10%, rgba(135,43,86,1) 80%, rgba(27,3,10,1) 100%);
            }
            .pagination-item.pagination-item-bubble:before {
                filter: blur(0);
                height: 80%;
                width: 40%;
                background: radial-gradient(circle at 130% 130%, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0) 46%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.8) 58%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 100%);
            }
            .pagination-item.pagination-item-bubble:after {
                display: block;
                background: radial-gradient(circle at 50% 80%, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 74%, white 80%, white 84%, rgba(255, 255, 255, 0) 100%); 
            }
            .pagination-item-number {
                position: relative;
                top: -26px;
                left: 8px;
                opacity: 0.5;
                color: rgb(42, 20, 33);
            }
        }
        
        .pagination-item-chosen-stage {
            width: 50px;
            height: 50px;
            position: relative;
            // top: 5px;
            // left: 85px;
            // display: inline-block;
            // margin: 20px;
            -webkit-perspective: 1200px;
            -moz-perspective: 1200px;
            -ms-perspective: 1200px;
            -o-perspective: 1200px;
            perspective: 1200px;
            -webkit-perspective-origin: 50% 50%;
            -moz-perspective-origin: 50% 50%;
            -ms-perspective-origin: 50% 50%;
            -o-perspective-origin: 50% 50%;
            perspective-origin: 50% 50%;
            .pagination-item-chosen {
                display: flex;
                width: 40px;
                height: 40px;
                border-radius: 100%;
                position: relative;
                background: radial-gradient(circle at 50% 55%, rgba(237,200,184,1) 0%, rgba(231,168,154,1) 10%, rgba(135,43,86,1) 80%, rgba(27,3,10,1) 100%);
                cursor: pointer;
            }
    
            .pagination-item-chosen:before {
                content: "";
                position: absolute;
                top: 1%;
                left: 5%;
                width: 90%;
                height: 90%;
                border-radius: 100%;
                background: radial-gradient(circle at top, white, rgba(255, 255, 255, 0) 58%);
                filter: blur(5px);
                z-index: 2; 
            }
            .pagination-item-chosen:after {
                content: "";
                position: absolute;
                display: none;
                top: 5%;
                left: 10%;
                width: 80%;
                height: 80%;
                border-radius: 100%;
                -webkit-filter: blur(1px);
                filter: blur(1px);
                z-index: 2;
                transform: rotateZ(-30deg); 
            }
            .pagination-item-chosen.pagination-item-chosen-bubble {
              background: radial-gradient(circle at 50% 55%, rgba(237,200,184,1) 0%, rgba(231,168,154,1) 10%, rgba(135,43,86,1) 80%, rgba(27,3,10,1) 100%);
                animation: bubble-anim 2s ease-out infinite; 
            }
            .pagination-item-chosen.pagination-item-chosen-bubble:before {
                filter: blur(0);
                height: 80%;
                width: 40%;
                background: radial-gradient(circle at 130% 130%, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0) 46%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.8) 58%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 100%);
                transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg); 
            }
            .pagination-item-chosen.pagination-item-chosen-bubble:after {
                display: block;
                background: radial-gradient(circle at 50% 80%, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 74%, white 80%, white 84%, rgba(255, 255, 255, 0) 100%); 
            }

            .pagination-item-chosen-number {
                position: relative;
                position: relative;
                top: -30px;
                left: 14px;
                color: rgb(42, 20, 33);
            }
        }
    }
}

@-webkit-keyframes bubble-anim {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1); }
  
    20% {
      -webkit-transform: scaleY(0.95) scaleX(1.05);
      transform: scaleY(0.95) scaleX(1.05); }
  
    48% {
      -webkit-transform: scaleY(1.1) scaleX(0.9);
      transform: scaleY(1.1) scaleX(0.9); }
  
    68% {
      -webkit-transform: scaleY(0.98) scaleX(1.02);
      transform: scaleY(0.98) scaleX(1.02); }
  
    80% {
      -webkit-transform: scaleY(1.02) scaleX(0.98);
      transform: scaleY(1.02) scaleX(0.98); }
  
    97%, 100% {
      -webkit-transform: scale(1);
      transform: scale(1); 
    } 
}
  
@keyframes bubble-anim {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1); }
  
    20% {
      -webkit-transform: scaleY(0.95) scaleX(1.05);
      transform: scaleY(0.95) scaleX(1.05); }
  
    48% {
      -webkit-transform: scaleY(1.1) scaleX(0.9);
      transform: scaleY(1.1) scaleX(0.9); }
  
    68% {
      -webkit-transform: scaleY(0.98) scaleX(1.02);
      transform: scaleY(0.98) scaleX(1.02); }
  
    80% {
      -webkit-transform: scaleY(1.02) scaleX(0.98);
      transform: scaleY(1.02) scaleX(0.98); }
  
    97%, 100% {
      -webkit-transform: scale(1);
      transform: scale(1); 
    } 
}