.x {
    width: 98px;
    height: 98px;
    position: relative;
    .diagonalFirst {
        border: 5px solid #665757;
        width: 73.5px;
        position: absolute;
        transform: rotateZ(45deg);
        top: 45px;
        right: 7px;
        
    }
    .diagonalSecond {
        border: 5px solid #665757;
        width: 73.5px;
        position: absolute;
        transform: rotateZ(-45deg);
        top: 45px;
        right: 7px;
    }
}
.xScreen {
    width: 98px;
    height: 98px;
    position: relative;
    margin-top: 100px;
   
    .diagonalFirst {
        border: 7px solid #665757;
        width: 100.5px;
        position: absolute;
        transform: rotateZ(45deg);
        top: 45px;
        right: -7px;
    }
    .diagonalSecond {
        border: 7px solid #665757;
        width: 100.5px;
        position: absolute;
        transform: rotateZ(-45deg);
        top: 45px;
        right: -7px;
    }
}

    .circle{ 
        stroke-dasharray: 440;
        stroke-dashoffset: 440;
        animation: css 3s ease-out forwards;
    }

@keyframes css {
  to {
    stroke-dashoffset: 0;
  }
}
