.sidebar-open {
    background: rgba(49, 22, 58, 1);
    width: 270px;
    height: 100%;
    position: fixed;
    z-index: 700;
    animation: appear 1s linear;
}
.sidebar-close {
    background: rgba(49, 22, 58, 1);
    width: 0;
    height: 100%;
    position: fixed;
    z-index: 700;
    animation: disappear 1s linear;
}

@keyframes appear {
    from{
        width: 0;
    }
    to {
        width: 270px;
    }
}

@keyframes disappear {
    from{
        width: 270px;
    }
    to {
        width: 0;
    }
}
