.toolbar-item {
    padding: 15px;
    color: rgb(139, 160, 230);
    font-size: 30px;
    font-family: 'Abhaya Libre', serif;
    cursor: pointer;
}

// @keyframes move {
//     0% {
//         width: 0;
//     }
//     50% {
//         width: 50%;
//     }
//     100% {
//         width: 100%;
//     }
// }

// @media only screen and (max-width: 1000px) {
//     .toolbarIcon {
//         display: none;
//     }
// }
