.leftX {
    bottom: 0px;
    left: 30px;
    position: absolute;
}

.rightX {
    bottom: 230px;
    right: 100px;
    position: absolute;
}

.centerX {
    bottom: 200px;
    left: 350px;
    position: absolute;
}
