.terminal-left {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    width: 10px;
    justify-content: flex-end;
    padding-right: 7px;
    padding-bottom: 3px;
    & div {
        align-items: center;
        padding: 1px 0 4px 7px;
        color: rgb(146, 146, 146);
        font-weight: bold;
    }
    .terminal-focused-text {
        align-items: center;
        padding: 1px 0 2px 7px;
        color: white;
        font-size: 14px;
    }
    .terminal-text {
        align-items: center;
        padding: 0 0 2px 2px;
        color: white;
        font-size: 14px;
    }
}
