.gallery {
    margin: 0px 0 30px 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    .gallery-images {
        // margin: 20px 0 20px 0;
        // width: 1100px;
        // text-align: center;
        width: 1000px;
        display: flex;
        flex-wrap: wrap;

    }
}