.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 1;
    animation: moveCard 2s linear;
    .service-icon {
        width: 55px;
        height: 40px;
        background: rgb(136, 0, 101);
        border: 1px solid rgb(136, 0, 101);
        border-radius: 50%;
        position: relative;
        top: 30px;
        text-align: center;
        padding-top: 15px;
        cursor: pointer;
        .icon {
            color: rgb(240, 221, 234);
        }  
    }

    .service-icon-hover {
        width: 55px;
        height: 40px;
        background: rgb(240, 221, 234);
        border: 1px solid rgb(136, 0, 101);
        border-radius: 50%;
        position: relative;
        top: 30px;
        text-align: center;
        padding-top: 15px;
        cursor: pointer;
        .icon {
            color: rgb(136, 0, 101);
        }  
    }

    .service-inner-part {
        border: 1px solid rgba(153, 153, 153, 0.7);
        width: 370px;
        height: 200px;
        background: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        .service-inner-part-header {
            font-family: 'Roboto', sans-serif;
            font-size: 24px;
            margin: 50px 10px 10px 10px;
            color: rgba(black, 0.8);
        }
        .service-inner-part-text {
            font-family: 'Roboto', sans-serif;
            text-align: center;
            font-size: 17px;
            margin: 10px 30px 10px 30px;
            color: rgba(black, 0.5);
        }
    }
}

.card1 {
    display: inline-block;
    margin: 0 25px 0 25px;
}
.card2 {
    display: inline-block;
    margin: 0 25px 0 25px;
}
.card3 {
    display: inline-block;
    margin: 0 25px 0 25px;
}
.card4 {
    display: inline-block;
    margin: 0 25px 0 25px;
}
.card5 {
    display: inline-block;
    margin: 0 25px 0 25px;
}
.card6 {
    display: inline-block;
    margin: 0 25px 0 25px;
}

@keyframes moveCard {
    0% {
        opacity: 0;
    }
    70% {
        opacity: 1;
    }
}

@media only screen and (max-width: 890px) {
    .card1 {
        display: block;
    }
    .card2 {
        display: block;
    }
    .card3 {
        display: block;
    }
    .card4 {
        display: block;
    }
    .card5 {
        display: block;
    }
    .card6 {
        display: block;
    }
}
