.background4x4 {
    border: 1px solid rgb(221, 214, 214);
    border-radius: 7px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    .mainBorder4x4{
        width: 347px;
        height: 347px;
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .emptyBorderVertical4x4 {
            width: 97px;
        }
        .borderVertical4x4 {
            border:2px solid#489E93;
            height: 270px;
            width: 5px;
            background-color: #489E93; 
           
        }
        .mainBorderHorizontal4x4 { 
            position: absolute;
            width: 310px;
            height: 310px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            .emptyBorderHorizontal4x4 {
                height: 97px;
            }
            .borderHorizontal4x4 {
                border: 2px solid#489E93;
                height: 5px;
                width: 270px;
                background-color: #489E93; 
            }
        }
       
    }
    
    .main4x4{
        background-color:#14bdac;
        width: 100%;
        .mainBox4x4 {
            padding: 15px;
            display: flex;
            justify-content: center;
        }
    }
    .text4x4 {
        margin-bottom: 10px;
        color: rgb(110, 110, 110);
    }
}

.textReset4x4 {
    color: #58BAAD;
}

.drawScreen4x4 {
    height: 360;
    width: 360;
    background-color: #14bdac;
    position: absolute;
}
.drawImages4x4 {
    display: flex;  
    justify-content: center;
}
.drawText4x4 {
    color:  #665757;;
    font-family: 'Verdana';
    font-size: 35px;
    text-align: center;
    margin-bottom: 40px;
    font-weight: bold;
}

@media (max-width: 463px){
    .background4x4 {
    border: 1px solid rgb(221, 214, 214);
    border-radius: 7px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    .mainBorder4x4{
        width: 310px;
        height: 310px;
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .emptyBorderVertical4x4 {
            width: 97px;
        }
        .borderVertical4x4 {
            border:2px solid#489E93;
            height: 270px;
            width: 5px;
            background-color: #489E93; 
           
        }
        .mainBorderHorizontal4x4 { 
            position: absolute;
            width: 310px;
            height: 310px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            .emptyBorderHorizontal4x4 {
                height: 97px;
            }
            .borderHorizontal4x4 {
                border: 2px solid#489E93;
                height: 5px;
                width: 270px;
                background-color: #489E93; 
            }
        }
       
    }
    .main4x4{
        background-color:#14bdac;
        width: 100%;
        .mainBox4x4 {
            padding: 15px;
            display: flex;
            justify-content: center;
        }
    }
    .text4x4 {
        margin-bottom: 10px;
        color: rgb(110, 110, 110);
    }
}
.drawScreen4x4 {
    height: 260px;
    width: 260px;
    background-color: #14bdac;
    position: absolute;
}
.drawImages4x4 {
    display: flex;  
    justify-content: center;
}
.drawText4x4 {
    color:  #665757;;
    font-family: 'Verdana';
    font-size: 35px;
    text-align: center;
    margin-bottom: 40px;
    font-weight: bold;
}
       
}

.emptyDiv4x4 {
    height: 50px;
}