.main-box {
    
}
.outer-box{
    border: 2px solid black;
    width: fit-content;
    height: fit-content;
    display: flex;
    box-shadow: 2px 2px rgb(189, 186, 186);
    .innerBox {
        border: 2px solid black;
        width: 100px;
        height: 100px;
        .cross {
            border: 2px solid red;
            background-color: red;
            clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
            width: 96px;
            height: 96px;
        }
    }
}
.players{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: space-around;
    width: 312px;
    .player {
        border: 2px solid black;
        width: 100px;
        height: 30px;
        border-radius: 10px;
        box-shadow: 2px 2px rgb(189, 186, 186);
        display: flex;
        justify-content: center;
        padding-top: 15px;
        &.chosen {
            box-shadow: 2px 2px rgb(153, 206, 129);
            background-color: rgb(157, 228, 85)
        }
    }
}

