.feedbacks { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .feedbacks-section {
        display: flex;
        justify-content: end;
        // width: 100%;
        width: 1015px;
        padding-top: 5px;
        // border: 2px solid red;
        height: 400px;
        overflow: hidden;
    }
    .feedbacks-dots {
        padding-top: 27px;
        display: flex;
        height: 70px;
        z-index: 100;
        .feedbacks-dot {
            border: 1.5px solid rgb(42, 20, 33);
            border-radius: 50%;
            background: rgba(42, 20, 33, 0.4);
            width: 12px;
            height: 12px;
            margin: 3px;
        }
        .feedbacks-dot-chosen {
            border: 1.5px solid rgb(42, 20, 33);
            border-radius: 50%;
            background: rgba(42, 20, 33, 1);
            width: 12px;
            height: 12px;
            margin: 3px;
        }
    }
}

.active {
    cursor: grabbing;
}

@media only screen and (max-width: 1065px) {
    .feedbacks { 
        .feedbacks-section {
            width: 670px;
        }
    }
}

@media only screen and (max-width: 737px) {
    .feedbacks { 
        .feedbacks-section {
            width: 340px;
        }
    }
}