.team {
    width: calc(100% - 20px);
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 850px;
    border: 10px solid rgb(39, 49, 85);
    cursor: context-menu;
    .team-paragraph {
        width: 45%;
        display: flex;
        flex-direction: column;
        justify-content: center;;
        align-items: center;
        
        .team-text-line1 {
            font-family: 'Indie Flower', cursive;
            font-size: 13px;
            opacity: 0.5;
        }
        .team-text-line2 {
            font-family: 'Indie Flower', cursive;
            color: rgb(39, 49, 85);
            font-size: 50px;
            font-weight: bold;
            text-align: center;
            padding: 10px 0 15px 0;
        }
        .team-text-line3 {
            font-family: 'Indie Flower', cursive;
            font-size: 19px;
            text-align: center;
            opacity: 0.5;
        }
    }
    .team-members {
        display: flex;
        width: 70%;
        justify-content: center;
    }
}
