.toolbarIcon {
    padding: 7px;
    .toolbarIcon-element {
        font-family: 'Handlee', cursive;
        font-size: 27px;
        color: rgb(136, 0, 101);
        margin: 0px 20px 0 20px;
        .toolbarIcon-line {
            height: 6px;
        }
        &:hover{
            .toolbarIcon-line {
                display: flex;
                justify-content: center;
                .toolbarIcon-line-left-part {
                    border: 3px solid rgb(136, 0, 101);
                    border-top-left-radius: 27px;
                    border-bottom-left-radius: 27px;
                    height: 0px;
                    animation: move 0.5s linear;
                }
                .toolbarIcon-line-right-part {
                    border: 3px solid rgb(136, 0, 101);
                    border-top-right-radius: 27px;
                    border-bottom-right-radius: 27px;
                    height: 0px;
                    animation: move 0.5s linear;
                }
            }
        }
    }

    .toolbarIcon-element-scroll {
        font-family: 'Handlee', cursive;
        font-size: 27px;
        color: rgb(250, 207, 239);
        margin: 0px 20px 0 20px;
        .toolbarIcon-line {
            height: 6px;
        }
        &:hover{
            .toolbarIcon-line {
                display: flex;
                justify-content: center;
                .toolbarIcon-line-left-part {
                    border: 3px solid rgb(250, 207, 239);
                    border-top-left-radius: 27px;
                    border-bottom-left-radius: 27px;
                    height: 0px;
                    animation: move 0.5s linear;
                }
                .toolbarIcon-line-right-part {
                    border: 3px solid rgb(250, 207, 239);
                    border-top-right-radius: 27px;
                    border-bottom-right-radius: 27px;
                    height: 0px;
                    animation: move 0.5s linear;
                }
            }
        }
    }
}

@keyframes move {
    0% {
        width: 0;
    }
    50% {
        width: 50%;
    }
    100% {
        width: 100%;
    }
}
