.contact-page {
    background: linear-gradient(
        180deg,
        rgba(42, 20, 33, 1) 0%,
        rgba(73, 38, 52, 1) 18%,
        rgba(111, 9, 55, 1) 34%, 
        rgba(163, 58, 102, 1) 56%, 
        rgba(249, 142, 108, 1) 75%, 
        rgba(238, 203, 184, 1) 88%
    ), rgba(238, 203, 184, 1);
    background-size: 100% 2500px;
    background-repeat: no-repeat, repeat;
    .contact-page-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        border: 3px solid rgb(42, 20, 33);
        margin: 15px;
        border-radius: 255px 20px 105px 30px/30px 125px 30px 255px;
        background: rgb(238, 203, 184);
        .contact-page-header {
            font-family: 'Indie Flower', cursive;
            color: rgb(42, 20, 33);
            font-size: 50px;
            font-weight: bold;
            text-align: center;
            padding-top: 50px;
        }
        .contact-page-wrapper2{
            padding: 50px 0 50px 0;
            .contact-page-info {
                font-family: 'Indie Flower', cursive;
                font-size: 19px;
                text-align: center;
                opacity: 0.5;
                color: rgb(42, 20, 33);
            }
        }
        .contact-page-wrapper3 {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 60%;
            height: 40%;
            padding: 30px;
            box-shadow: 10px 10px 10px 5px rgb(73, 38, 52);
            background: rgb(238, 203, 184);
            margin-bottom: 50px;
            .contact-page-map {
                margin-left: 50px;
                width: 50%;
                height: 425px;
                background-image: url('../../../images/BakuMap.png');
                background-position: center;
            }
        }
    }
}
