.contact-page {
    .contact-page-wrapper {
        border: 3px solid rgb(39, 49, 85);
        margin: 15px;
        border-radius: 255px 20px 105px 30px/30px 125px 30px 255px;
        background: white;
        
        .contact-page-header {

        }
        .contact-page-wrapper2{
            .contact-page-info {

            }
        }
        .contact-page-wrapper2 {
            .contact-page-form {

            }
            .contact-page-map {

            }
        }
    }
}
