.leftO {
    top: 30px;
    left: 130px;
    position: absolute;
}

.rightO {
    bottom: 10px;
    right: 210px;
    position: absolute;
}

.centerO {
    top: 70px;
    right: 40px;
    position: absolute;
}

