.winnerX {
    color:  #665757;;
    font-family: 'Verdana';
    font-size: 35px;
    padding: 20px;
    text-align: center;
    margin: 20px;
    font-weight: bold;
}
.winnerO {
    color: #F1EBD5;
    font-family: 'Verdana';
    font-size: 35px;
    padding: 20px;
    text-align: center;
    font-weight: bold;
}
.winnerIs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.winnerScreen {
    height: 360;
    width: 360;
    background-color: #14bdac;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
   
}
@media (max-width: 463px){
    .winnerScreen {
        height: 260px;
        width: 260px;
        background-color: #14bdac;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute; 
    }
}