.winnerX {
    color:  #665757;;
    font-family: 'Verdana';
    font-size: 35px;
    padding: 20px;
    text-align: center;
    margin: 20px;
}
.winnerO {
    color: #F1EBD5;
    font-family: 'Verdana';
    font-size: 35px;
    padding: 20px;
    text-align: center;
}
.winnerIs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}