.winner {
    color: #F1EBD5;
    font-family: 'Verdana';
    font-size: 35px;
    padding: 20px;
}
.winnerAlign {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}