.outerBox4x4 {
    width: 347px;
    height: 347px;
    flex-wrap: wrap;
    display: flex;
   
}

.box4x4number0 {
    border-right: 9px solid#489E93;
    border-bottom: 9px solid#489E93;
    width: 80px;
    height: 80px;
}
.box4x4number1 {
    border-right: 9px solid#489E93;
    border-bottom: 9px solid#489E93;
    width: 80px;
    height: 80px;
}
.box4x4number2 {
    border-right: 9px solid#489E93;
    border-bottom: 9px solid#489E93;
    width: 80px;
    height: 80px;
}
.box4x4number3 {
    border-bottom: 9px solid#489E93;
    width: 80px;
    height: 80px;
}
.box4x4number4 {
    border-right: 9px solid#489E93;
    border-bottom: 9px solid#489E93;
    width: 80px;
    height: 80px;
}
.box4x4number5 {
    border-right: 9px solid#489E93;
    border-bottom: 9px solid#489E93;
    width: 80px;
    height: 80px;
}
.box4x4number6 {
    border-right: 9px solid#489E93;
    border-bottom: 9px solid#489E93;
    width: 80px;
    height: 80px;
}
.box4x4number7 {
    border-bottom: 9px solid#489E93;
    width: 80px;
    height: 80px;
}
.box4x4number8 {
    border-right: 9px solid#489E93;
    border-bottom: 9px solid#489E93;
    width: 80px;
    height: 80px;
}
.box4x4number9 {
    border-right: 9px solid#489E93;
    border-bottom: 9px solid#489E93;
    width: 80px;
    height: 80px;
}
.box4x4number10 {
    border-right: 9px solid#489E93;
    border-bottom: 9px solid#489E93;
    width: 80px;
    height: 80px;
}
.box4x4number11 {
    border-bottom: 9px solid#489E93;
    width: 80px;
    height: 80px;
}
.box4x4number12 {
    border-right: 9px solid#489E93;
    width: 80px;
    height: 80px;
}
.box4x4number13 {
    border-right: 9px solid#489E93;
    width: 80px;
    height: 80px;
}
.box4x4number14 {
    border-right: 9px solid#489E93;
    width: 80px;
    height: 80px;
}
.box4x4number15 {
    width: 80px;
    height: 80px;
}






@media (max-width: 463px){
    .outerBox {
        width: 260px;
        height: 260px;
        flex-wrap: wrap;
        display: flex;
       
    }
    
    .number0 {
        border-right: 9px solid#489E93;
        border-bottom: 9px solid#489E93;
        width: 80px;
        height: 80px;
    }
    .number1 {
        border-right: 9px solid#489E93;
        border-bottom: 9px solid#489E93;
        width: 80px;
        height: 80px;
    }
    .number2 {
        border-bottom: 9px solid#489E93;
        width: 80px;
        height: 80px;
    }
    .number3 {
        border-right: 9px solid#489E93;
        border-bottom: 9px solid#489E93;
        width: 80px;
        height: 80px;
    }
    .number4 {
        border-right: 9px solid#489E93;
        border-bottom: 9px solid#489E93;
        width: 80px;
        height: 80px;
    }
    .number5 {
        border-bottom: 9px solid#489E93;
        width: 80px;
        height: 80px;
    }
    .number6 {
        border-right: 9px solid#489E93;
        width: 80px;
        height: 80px;
    }
    .number7 {
        border-right: 9px solid#489E93;
        width: 80px;
        height: 80px;
    }
    .number8 {
        width: 80px;
        height: 80px;
    }
}
