.toolbar {
    height: 130px;
    position: fixed;
    z-index: 700;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.toolbar-scroll-up {
    background: transparent;
    height: 130px;
    position: fixed;
    z-index: 700;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    animation: toolBarClose 0.5s linear;
    // opacity: 0;
}

.toolbar-scroll-down {
    background: rgba(117, 71, 129, 0.7);
    height: 100px;
    position: fixed;
    z-index: 700;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    animation: toolBarOpen 0.5s linear;
}

@keyframes toolBarOpen {
    0% {
        height: 130px;
    }
    50% {
        height: 115px;
    }
    100% {
        height: 100px;
    }
}

@keyframes toolBarClose {
    0% {
        height: 100px;
        background: rgba(117, 71, 129, 0.7);
    }
    50% {
        height: 115px;
        background: rgba(117, 71, 129, 0.5);
    }
    100% {
        height: 130px;
        background: rgba(117, 71, 129, 0);
    }
}

@keyframes spin {
    100% {
        transform: rotate(45deg);
        
        transform-origin: top left;
    }
}

@media only screen and (max-width: 1000px) {
    .toolbar {
        .toolbar-min {
            cursor: pointer;
            position: relative;
            width: 60px;
            height: 45px;
            .toolbar-min-line1 {
                border: 2px solid rgb(136, 0, 101);
                border-radius: 7px;
                margin: 0 40px 7px 0;
                width: 27px;
            }
            .toolbar-min-line2 {
                border: 2px solid rgb(136, 0, 101);
                border-radius: 7px;
                margin: 0 40px 7px 0;
                width: 27px;
            }
            .toolbar-min-line3 {
                border: 2px solid rgb(136, 0, 101);
                border-radius: 7px;
                margin: 0 40px 7px 0;
                width: 27px;
            }
            .toolbar-min-line1-effect {
                border: 2px solid rgb(136, 0, 101);
                background: rgb(136, 0, 101);
                border-radius: 7px;
                margin: 0 40px 7px 0;
                width: 27px;
                transform: rotate(45deg);
                transform-origin: 10% 90%;
            }
            .toolbar-min-line2-effect {
                width: 0%;
                opacity: 0;
            }
            .toolbar-min-line3-effect {
                border: 2px solid rgb(136, 0, 101);
                background: rgb(136, 0, 101);
                border-radius: 7px;
                margin: 0 40px 7px 0;
                width: 27px;
                transform: rotate(-45deg);
                transform-origin: 43% 80%;
               
            }
        }
    }

    .toolbar-scroll-up {
        .toolbar-min {
            cursor: pointer;
            position: relative;
            width: 60px;
            height: 45px;
            .toolbar-min-line1 {
                border: 2px solid rgb(136, 0, 101);
                border-radius: 7px;
                margin: 0 40px 7px 0;
                width: 27px;
            }
            .toolbar-min-line2 {
                border: 2px solid rgb(136, 0, 101);
                border-radius: 7px;
                margin: 0 40px 7px 0;
                width: 27px;
            }
            .toolbar-min-line3 {
                border: 2px solid rgb(136, 0, 101);
                border-radius: 7px;
                margin: 0 40px 7px 0;
                width: 27px;
            }
            .toolbar-min-line1-effect {
                border: 2px solid rgb(136, 0, 101);
                background: rgb(136, 0, 101);
                border-radius: 7px;
                margin: 0 40px 7px 0;
                width: 27px;
                transform: rotate(45deg);
                transform-origin: 10% 90%;
            }
            .toolbar-min-line2-effect {
                width: 0%;
                opacity: 0;
            }
            .toolbar-min-line3-effect {
                border: 2px solid rgb(136, 0, 101);
                background: rgb(136, 0, 101);
                border-radius: 7px;
                margin: 0 40px 7px 0;
                width: 27px;
                transform: rotate(-45deg);
                transform-origin: 43% 80%;
               
            }
        }
    }

    .toolbar-scroll-down {
        .toolbar-min {
            cursor: pointer;
            position: relative;
            width: 60px;
            height: 45px;
            margin-top: 10px;
            .toolbar-min-line1 {
                border: 2px solid rgb(250, 207, 239);
                border-radius: 7px;
                margin: 0 40px 7px 0;
                width: 27px;
            }
            .toolbar-min-line2 {
                border: 2px solid rgb(250, 207, 239);
                border-radius: 7px;
                margin: 0 40px 7px 0;
                width: 27px;
            }
            .toolbar-min-line3 {
                border: 2px solid rgb(250, 207, 239);
                border-radius: 7px;
                margin: 0 40px 7px 0;
                width: 27px;
            }
            .toolbar-min-line1-effect {
                border: 2px solid rgb(250, 207, 239);
                background: rgb(250, 207, 239);
                border-radius: 7px;
                margin: 0 40px 7px 0;
                width: 27px;
                transform: rotate(45deg);
                transform-origin: 10% 90%;
            }
            .toolbar-min-line2-effect {
                width: 0%;
                opacity: 0;
            }
            .toolbar-min-line3-effect {
                border: 2px solid rgb(250, 207, 239);
                background: rgb(250, 207, 239);
                border-radius: 7px;
                margin: 0 40px 7px 0;
                width: 27px;
                transform: rotate(-45deg);
                transform-origin: 43% 80%;
                background: rgb(250, 207, 239);
            }
        }
    }
    
}