.buttonImage {
    border: 3px solid rgb(13, 48, 42);
    width: 336px;
    height: 355px;
    & img{
        width: 336px;
        height: 355px;
    }
    &:hover {
        box-shadow: 3px 2px 5px 0px rgb(119, 179, 154);
    }
}
.textUnderButtonImages {
    font-family: 'Berkshire Swash', cursive;
    padding: 10px;
    font-size: 33px;
    text-align: center;
    color: rgb(13, 48, 42);
}


@media (max-width : 1000px) {
    .buttonImage {
        border: 3px solid rgb(13, 48, 42);
        width: 256px;
        height: 275px;
        & img{
            width: 256px;
            height: 275px;
        }
        &:hover {
            box-shadow: 3px 2px 5px 0px rgb(119, 179, 154);
        }
    }
}