.leftUnicorn {
    transform: scaleX(-1);
    top: -280px;
    left: 190px;
    z-index: -1;
    position: absolute;
    img {
        width: 150px;
        height: 150px;
    }
}

.rightUnicorn {
    top: -180px;
    right: 150px;
    position: absolute;
    z-index: -1;
    img {
        width: 300px;
        height: 300px;
    }
    
}
