.button {
    width: 120px;      
    &:disabled{
        color:rgb(150, 150, 150);
        cursor: not-allowed;
    }
}

.button-loginForm {
    width: 140px;
    height: 27px;
    border: 1px solid rgb(13, 48, 42);
    background-color: rgb(21, 71, 63);
    color: #F1EBD5;
    font-weight: 100;
    box-shadow: 2px 2px 5px 0px rgb(172, 202, 190);
    &:hover {
        background-color: rgb(125, 182, 172);
        color: rgb(13, 48, 42);
        font-weight: 100;
    }
    
    &:disabled{
        color:rgb(150, 150, 150);
        cursor: not-allowed;
    }
}
.clicked {
    height: 360px;
}

.sendMessage-outerDiv-submit {
    width: 520px;
    text-align: center;
    .sendMessage-submit {
        width: 90px;
        height: 40px;
        border-radius: 4px;
        background: rgb(240, 221, 234);
        border: 1px solid rgb(136, 0, 101);
        color: rgb(136, 0, 101);
        cursor: pointer;
        &:hover {
            background: rgb(243, 235, 241);
        }
    }
}

@media only screen and (max-width: 900px){
    .sendMessage-outerDiv-submit {
        padding-top: 10px;
    }
}

@media only screen and (max-width: 680px){
    .sendMessage-outerDiv-submit {
        width: 340px;
    }
}

@media only screen and (max-width: 478px){
    .sendMessage-outerDiv-submit {
        width: 220px;
    }
}

@media only screen and (max-width: 388px){
    .sendMessage-outerDiv-submit {
        width: 175px;
    }
}
