.button {
    width: 120px;      
    &:disabled{
        color:rgb(150, 150, 150);
        cursor: not-allowed;
    }
}

.button-loginForm {
    width: 140px;
    height: 27px;
    border: 1px solid rgb(13, 48, 42);
    background-color: rgb(21, 71, 63);
    color: #F1EBD5;
    font-weight: 100;
    box-shadow: 2px 2px 5px 0px rgb(172, 202, 190);
    &:hover {
        background-color: rgb(125, 182, 172);
        color: rgb(13, 48, 42);
        font-weight: 100;
    }
    
    &:disabled{
        color:rgb(150, 150, 150);
        cursor: not-allowed;
    }
}
.clicked {
    height: 360px;
}

.portfolio-description-button {
    border-radius: 30px;
    width: 170px;
    color: rgb(39, 49, 85);
    border: 1px solid rgb(39, 49, 85);
    margin: 10px 0 0 0;
    margin: 10px 0 0 0;
    background: rgb(231, 223, 240);
    cursor: pointer;
    &:hover {
        background-color: rgb(175, 192, 255);
        color: rgb(13, 48, 42); 
        box-shadow: 5px 5px 5px 0 rgb(101, 64, 136);
    }
}

.portfolio-description-button-middle {
    border-radius: 30px;
    width: 170px;
    color: rgb(39, 49, 85);
    border: 1px solid rgb(39, 49, 85);
    margin: 10px 0 0 0;
    background: rgb(231, 223, 240);
    cursor: pointer;
    &:hover {
        background-color: rgb(175, 192, 255);
        color: rgb(13, 48, 42); 
        box-shadow: -5px 5px 5px 0 rgb(101, 64, 136);
    }
}

.customer-feedbacks-button {
    background: none;
    border: none;
    margin-bottom: 80px;
}

.pagination-button {
    background: none;
    border: none;
    // margin-bottom: 80px;
    cursor: pointer;
    &:disabled{
        color:rgb(150, 150, 150);
        cursor: not-allowed;
    }
}

.portfolio-content-button {
    border-radius: 30px;
    width: 150px;
    height: 40px;
    color: rgb(39, 49, 85);
    border: 1px solid rgb(39, 49, 85);
    background: rgb(231, 223, 240);
    margin-right: 20px;
    cursor: pointer;
    &:hover {
        background-color: rgb(175, 192, 255);
        color: rgb(13, 48, 42); 
        box-shadow: 5px 5px 5px 0 rgb(101, 64, 136);
    }
}

.comment-button {
    border-radius: 30px;
    width: 100px;
    height: 20px;
    color: rgb(39, 49, 85);
    // border: 1px solid rgb(39, 49, 85);
    border: none;
    background: rgb(231, 223, 240);
    margin-top: 10px;
    cursor: pointer;
    &:hover {
        background-color: rgb(175, 192, 255);
        color: rgb(13, 48, 42); 
        box-shadow: -5px 5px 5px 0 rgb(101, 64, 136);
    }
    &:disabled{
        box-shadow: none;
        background-color: rgb(231, 223, 240);
        color:rgb(150, 150, 150);
        cursor: not-allowed;
    }
}

.comment-button-input {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 100px;
    height: 27px;
    color: rgb(39, 49, 85);
    // border: 1px solid rgb(39, 49, 85);
    border: none;
    background: rgb(231, 223, 240);
    cursor: pointer;
    &:hover {
        background-color: rgb(175, 192, 255);
        color: rgb(13, 48, 42); 
    }
}
@media only screen and (max-width: 441px){
    .portfolio-description-button {
        width: 110px;
    }
    
    .portfolio-description-button-middle {
        width: 110px;
    }
}
