.contactInfo {
    margin: 0px 0 30px 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    .contactInfo-header {
        padding-bottom: 30px;
    }
    .contactInfo-wrapper {
        display: flex;
        .contactInfo-details {
            width: 365px;
            height: 170px;
            .contactInfo-details-header-text {
                font-size: 23px;
                padding-left: 20px;
            }
        }
        .contactInfo-message {
            border-left: 1px solid rgb(136, 0, 101);
            width: 530px;
            height: 270px;
        }
    }
}

.contactInfo-line-wrapper {
    display: flex;
    margin: 22px;
    align-items: flex-end;
    .contactInfo-details-text {
        font-size: 17px;
        padding: 0 0 0 14px;
    }
    .icon {
        padding-bottom: 4px;
    }
}