.page5 {
    height: 200px;
    border: 8px solid rgb(13, 48, 42);
    .border1 {
        border: 4px solid #F1EBD5;
        height: 192px;
        .border2 {
            border: 3px solid  rgb(13, 48, 42);
            height: 186px;
            .border3 {
                border: 1px solid  #F1EBD5;
                height: 184px;
                background-color: rgb(13, 48, 42);
                .page5-text {
                    color: #F1EBD5;
                    text-align: center;
                    position: relative;
                    top: 147px;
                    font-size: 25px;
                }
            }
        }
    }
}

.page5-img1{
    width: 157px;
    height: 157px;
    position: relative;
    top: -20px;
    left: 2px;
}
.page5-img2{
    width: 157px;
    height: 157px;
    position: relative;
    top: -20px;
    left: 987px;
    transform: scaleX(-1);
}