// @font-face {
//     src: url('../../Fonts/DancingScript-Bold.ttf');
//     font-family: dansing;
// }

.headline {
    height: 300px;
    width: 100%;
    position: absolute;
    top: 35%;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 80px;
    color: rgb(13, 48, 42);
    
}