.strategicModelingRight {
    padding-top: 20px;
    .strategicModelingRight-first-line-player-1 {
        font-size: 13px;
        padding: 0 0 12px 210px;
        &.white {
            color: white;
        }
    }
    .strategicModelingRight-second-line {
        display: flex;
        justify-content: space-around;
        align-items: center;
        .strategicModelingRight-player-2 {
            font-size: 13px;
            padding-top: 15px;
            &.white {
                color: white;
            }
        }
        .strategicModelingRight-table {
            display: flex;
            .strategicModelingRight-column {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                text-align: center;
                font-size: 12px;
                font-family: 'Oxygen Mono', monospace;
                &.left {
                    padding-right: 7px;
                    align-items: flex-end;
                }
                .strategicModelingRight-row-header {
                    font-weight: bold;
                }
                .strategicModelingRight-row-cell-1 {
                    border: 1px solid black;
                    width: 70px;
                    padding-left: 7px;
                    &.dark {
                        background: rgba(black, 0.2)
                    }
                }
                .strategicModelingRight-row-cell-2 {
                    border-left: 1px solid black;
                    border-bottom: 1px solid black;
                    border-right: 1px solid black;
                    width: 70px;
                    padding-left: 7px;
                    &.dark {
                        background: rgba(black, 0.2)
                    }
                }
                .strategicModelingRight-row-cell-3 {
                    border-top: 1px solid black;
                    border-right: 1px solid black;
                    border-bottom: 1px solid black;
                    width: 70px;
                    padding-left: 7px;
                    &.dark {
                        background: rgba(black, 0.2)
                    }
                }
                .strategicModelingRight-row-cell-4 {
                    border-right: 1px solid black;
                    border-bottom: 1px solid black;
                    width: 70px;
                    padding-left: 7px;
                    &.dark {
                        background: rgba(black, 0.2)
                    }
                }
            }
        }
       
    }
    
}


// .strategicModelingRight {
//     width: 285px;
//     height: 60px;
//     position: relative;
//     left: 35px;
//     bottom: -20px;
//     padding: 13px 10px 13px 10px;
//     .strategicModelingRight-row{
//         height: 18px;
//         display: flex;
//         text-align: center;
//         font-size: 13px;
//         font-family: 'Oxygen Mono', monospace;

//         .strategicModelingRight-column-header{
//             width: 100px;
//             height: 16px;
//             padding-top: 2px;
//             font-weight: bold;
//             font-size: 12px;
//             .strategicModelingRight-column-header-left {
//                 display: flex;
//                 justify-content: flex-end;
//                 padding-right: 3px;
//             }
//         }
//         .strategicModelingRight-cell-1 {
//             border: 1px solid black;
//             width: 100px;
//             height: 16px;
//             // padding-top: 2px;
//         }
//         .strategicModelingRight-cell-2 {
//             border-top: 1px solid black;
//             border-right: 1px solid black;
//             border-bottom: 1px solid black;
//             width: 100px;
//             height: 16px;
//             // padding-top: 2px;
//         }
//         .strategicModelingRight-cell-3 {
//             border-left: 1px solid black;
//             border-bottom: 1px solid black;
//             border-right: 1px solid black;
//             width: 100px;
//             height: 17px;
//             // padding-top: 2px;
//         }
//         .strategicModelingRight-cell-4 {
//             border-bottom: 1px solid black;
//             border-right: 1px solid black;
//             width: 100px;
//             height: 17px;
//             // padding-top: 2px;
//         }
//     }
   
// }

