.outerBox {
    width: 312px;
    height: 312px;
    flex-wrap: wrap;
    display: flex;
   
}

.number0 {
    border-right: 9px solid#489E93;
    border-bottom: 9px solid#489E93;
    width: 98px;
    height: 98px;
}
.number1 {
    border-right: 9px solid#489E93;
    border-bottom: 9px solid#489E93;
    width: 98px;
    height: 98px;
}
.number2 {
    border-bottom: 9px solid#489E93;
    width: 98px;
    height: 98px;
}
.number3 {
    border-right: 9px solid#489E93;
    border-bottom: 9px solid#489E93;
    width: 98px;
    height: 98px;
}
.number4 {
    border-right: 9px solid#489E93;
    border-bottom: 9px solid#489E93;
    width: 98px;
    height: 98px;
}
.number5 {
    border-bottom: 9px solid#489E93;
    width: 98px;
    height: 98px;
}
.number6 {
    border-right: 9px solid#489E93;
    width: 98px;
    height: 98px;
}
.number7 {
    border-right: 9px solid#489E93;
    width: 98px;
    height: 98px;
}
.number8 {
    width: 98px;
    height: 98px;
}
@media (max-width: 463px){
    .outerBox {
        width: 260px;
        height: 260px;
        flex-wrap: wrap;
        display: flex;
       
    }
    
    .number0 {
        border-right: 9px solid#489E93;
        border-bottom: 9px solid#489E93;
        width: 80px;
        height: 80px;
    }
    .number1 {
        border-right: 9px solid#489E93;
        border-bottom: 9px solid#489E93;
        width: 80px;
        height: 80px;
    }
    .number2 {
        border-bottom: 9px solid#489E93;
        width: 80px;
        height: 80px;
    }
    .number3 {
        border-right: 9px solid#489E93;
        border-bottom: 9px solid#489E93;
        width: 80px;
        height: 80px;
    }
    .number4 {
        border-right: 9px solid#489E93;
        border-bottom: 9px solid#489E93;
        width: 80px;
        height: 80px;
    }
    .number5 {
        border-bottom: 9px solid#489E93;
        width: 80px;
        height: 80px;
    }
    .number6 {
        border-right: 9px solid#489E93;
        width: 80px;
        height: 80px;
    }
    .number7 {
        border-right: 9px solid#489E93;
        width: 80px;
        height: 80px;
    }
    .number8 {
        width: 80px;
        height: 80px;
    }
}
