.customer-feedbacks {
    height: 740px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    // background: rgb(198, 204, 228);
    cursor: context-menu;
        .customer-feedbacks-paragraph {
            // padding-top: 50px;
            width: 57%;
            display: flex;
            flex-direction: column;
            justify-content: center;;
            align-items: center;
        
            .customer-feedbacks-text-line1 {
                font-family: 'Indie Flower', cursive;
                font-size: 13px;
                opacity: 0.5;
                color: rgb(42, 20, 33);
            }
            .customer-feedbacks-text-line2 {
                font-family: 'Indie Flower', cursive;
                color: rgb(42, 20, 33);
                font-size: 50px;
                font-weight: bold;
                text-align: center;
                padding: 10px 0 15px 0;
            }
            .customer-feedbacks-text-line3 {
                font-family: 'Indie Flower', cursive;
                font-size: 19px;
                text-align: center;
                opacity: 0.5;
                color: rgb(42, 20, 33);
            }
        }

        .customer-feedbacks-section {
            padding-top: 50px;
            display: flex;
            align-items: center;
            .icon-arrow-left {
                color: rgb(42, 20, 33);
                cursor: pointer;
            }
            .icon-arrow-right {
                color: rgb(42, 20, 33);
                cursor: pointer;
            }
        }
}

@media only screen and (max-width: 1205px) {
    .customer-feedbacks {
        height: 790px;
        .customer-feedbacks-paragraph {
        
            .customer-feedbacks-text-line2 {
                font-size: 45px;
            }
        }
    }
}

@media only screen and (max-width: 1065px) {
    .customer-feedbacks {
        height: 790px;
    }
}

@media only screen and (max-width: 737px) {
    .customer-feedbacks {
        height: 840px;
        .customer-feedbacks-paragraph {
            .customer-feedbacks-text-line1 {
                font-size: 11px;
            }
            .customer-feedbacks-text-line2 {
                font-size: 35px;
            }
            .customer-feedbacks-text-line3 {
                font-size: 17px;
            }
        }
    }
}

@media only screen and (max-width: 4207px) {
    .customer-feedbacks {
        height: 850px;
    }
}
