.customer-feedbacks {
    height: 870px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: rgb(198, 204, 228);
    cursor: context-menu;
        .customer-feedbacks-paragraph {
            width: 57%;
            display: flex;
            flex-direction: column;
            justify-content: center;;
            align-items: center;
        
            .customer-feedbacks-text-line1 {
                font-family: 'Indie Flower', cursive;
                font-size: 13px;
                opacity: 0.5;
            }
            .customer-feedbacks-text-line2 {
                font-family: 'Indie Flower', cursive;
                color: rgb(39, 49, 85);
                font-size: 50px;
                font-weight: bold;
                text-align: center;
                padding: 10px 0 15px 0;
            }
            .customer-feedbacks-text-line3 {
                font-family: 'Indie Flower', cursive;
                font-size: 19px;
                text-align: center;
                opacity: 0.5;
            }
        }
    .customer-feedbacks-section {
        display: flex;
        align-items: center;
        .icon-arrow-left {
            color: rgb(101, 64, 136);
            cursor: pointer;
        }
        .icon-arrow-right {
            color: rgb(101, 64, 136);
            cursor: pointer;
        }
    }
}
