body {
    margin: 0;
    height: 100%;
    background: linear-gradient(
        180deg,
        rgba(42, 20, 33, 1) 0%,
        rgba(73, 38, 52, 1) 18%,
        rgba(111, 9, 55, 1) 34%, 
        rgba(163, 58, 102, 1) 56%, 
        rgba(249, 142, 108, 1) 75%, 
        rgba(238, 203, 184, 1) 88%
    ), rgba(238, 203, 184, 1);
    background-size: 100% 7340px;
    background-repeat: no-repeat, repeat;
    // overflow: hidden;
}
::-webkit-scrollbar {
    width: 0px;
}

@media only screen and (max-width: 1366px) {
    body {
        background-size: 100% 12000px;
    }
}

@media only screen and (max-width: 1234px) {
    body {
        background-size: 100% 14000px;
    }
}

@media only screen and (max-width: 920px) {
    body {
        background-size: 100% 14700px;
    }
}
