body {
    margin: 0;
    height: 100%;
    background: linear-gradient(180deg, rgba(42,20,33,1) 0%, rgba(73,38,52,1) 18%, rgba(111,9,55,1) 34%, rgba(163,58,102,1) 56%, rgba(249,142,108,1) 75%, rgba(238,203,184,1) 88%);
    background-size: 100% 7340px;
    // overflow: hidden;
}
::-webkit-scrollbar {
    width: 0px;
}
