.strategicModelingLeft {
    border: 2px solid red;
    display: flex;
    justify-content: space-between;
    .strategicModelingLeft-list {
        width: 150px;
        padding-top: 3px;
        font-size: 15px;
        font-weight: bold;
    }
}