.strategicModelingLeft {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    height: 103px;
    .strategicModelingLeft-list {
        width: 150px;
        padding-top: 3px;
        font-size: 13px;
    }
    .strategicModelingLeft-list-bold {
        width: 150px;
        padding-top: 3px;
        font-size: 13px;
        font-weight: bold;
    }
}
