.strategicModelingLeft {
    display: flex;
    justify-content: space-between;
    .strategicModelingLeft-list {
        width: 150px;
        padding-top: 3px;
        font-size: 13px;
    }
    .strategicModelingLeft-list-bold {
        width: 150px;
        padding-top: 3px;
        font-size: 13px;
        font-weight: bold;
    }
}