.portfolio-single-page {
    background: linear-gradient(
        180deg,
        rgba(42, 20, 33, 1) 0%,
        rgba(73, 38, 52, 1) 18%,
        rgba(111, 9, 55, 1) 34%, 
        rgba(163, 58, 102, 1) 56%, 
        rgba(249, 142, 108, 1) 75%, 
        rgba(238, 203, 184, 1) 88%,
    ), rgba(238, 203, 184, 1);
    background-size: 100% 3400px;
    background-repeat: no-repeat, repeat;
    .portfolio-single-page-wrapper {
        padding: 0 130px 10px 130px;
        width: calc(100% - 260px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .portfolio-single-page-wrapper2 {
            width: 100%;
            height: 90%;
            display: flex;
            .portfolio-single-page-wrapper3 {
                width: 70%;
                height: 100%;
            }
            .portfolio-single-page-guide {
                top: 10px;
                width: 30%;
                height: 100%;
                padding: 40px 0px 0 40px;
                .portfolio-single-page-guide-paragraph {
                    font-family: 'Indie Flower', cursive;
                    color: rgb(249, 142, 108);
                    font-size: 27px;
                    padding-bottom: 5px;
                    font-size: bold;
                    text-align: center;
                }
                .portfolio-single-page-guide-text {
                    font-family: 'Indie Flower', cursive;
                    font-size: 20px;
                    padding-top: 5px;
                    text-align: justify;
                    text-justify: inter-word;
                    color: rgb(238, 203, 184);
                }
            }
        }
        .portfolio-single-page-pagination {
            width: 100%;
            height: 10%;
        }
    }
}
