.portfolio-single-page {
    
    .portfolio-single-page-wrapper {
        border: 2px solid red;
        padding: 0 150px 0 150px;
        width: calc(100% - 300px);
        // height: 1000px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .portfolio-single-page-wrapper2 {
            border: 2px solid rgb(61, 228, 61) ;
            width: 100%;
            height: 90%;
            display: flex;
            .portfolio-single-page-wrapper3 {
                border: 2px solid rgb(86, 61, 228) ;
                width: 70%;
                height: 100%;
                .portfolio-single-page-content {
                    border: 2px solid rgb(233, 247, 49) ;
                    width: 100%;
                    height: 60%;
                }
                .portfolio-single-page-cooments {
                    border: 2px solid rgb(233, 247, 49) ;
                    width: 100%;
                    height: 40%;
        
                }
            }
            .portfolio-single-page-guide {
                border: 2px solid rgb(86, 61, 228) ;
                width: 30%;
                height: 100%;

            }
        }
        .portfolio-single-page-pagination {
            border: 2px solid rgb(61, 228, 61) ;
            width: 100%;
            height: 10%;

        }
    }
}