.portfolio-single-page {
    .portfolio-single-page-wrapper {
        padding: 0 130px 0 130px;
        width: calc(100% - 260px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .portfolio-single-page-wrapper2 {
            width: 100%;
            height: 90%;
            display: flex;
            .portfolio-single-page-wrapper3 {
                width: 70%;
                height: 100%;
            }
            .portfolio-single-page-guide {
                top: 10px;
                width: 30%;
                height: 100%;
                padding: 40px 0px 0 40px;
                .portfolio-single-page-guide-paragraph {
                    font-family: 'Abhaya Libre', serif;
                    color:  rgb(39, 49, 85);
                    font-size: 27px;
                    padding-bottom: 5px;
                    font-size: bold;
                }
                .portfolio-single-page-guide-text {
                    font-family: 'Abhaya Libre', serif;
                    font-size: 20px;
                    padding-top: 5px;
                    text-align: justify;
                    text-justify: inter-word;
                }
            }
        }
        .portfolio-single-page-pagination {
            width: 100%;
            height: 10%;

        }
    }
}
