.magnifier {
    .magnifier-icon-x {
        color: rgb(250, 207, 239);
        position: absolute;
        right: 20px;
        top: 20px;
        cursor: pointer;
        &:hover {
            color: rgb(136, 0, 101);
        }
    }
    .magnifier-icon-arrow-left {
        color: rgb(250, 207, 239);
        width: 60px;
        height: 50px;
        border: 2px solid red;
        position: absolute;
        left: 20px;
        top: 350px;
        cursor: pointer;
        text-align: center;
        z-index: 800;
    }

    // .magnifier-icon-arrow-left-diasabled {

    // }
    
    .magnifier-icon-arrow-right {
        color: rgb(250, 207, 239);
    }
}
.magnifier-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    >img {
        width: 500px;
        height: 500px;
    }
}

@media only screen and (max-width: 677px){
    .magnifier-image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        text-align: center;
        >img {
            width: 300px;
            height: 300px;
        }
    }
}

@media only screen and (max-width: 495px){
    .magnifier-image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        text-align: center;
        >img {
            width: 150px;
            height: 150px;
        }
    }
}