.moving-bubbles-canvas {
    width: 100%;
    height: 100%;
    display: block;
    // background: url('../../images/76-760412_lake-clip-sunset-mountains-vector-png.png') no-repeat center center;
    // background-size: cover;
}

.moving-bubbles-text {
    height: 300px;
    width: 100%;
    position: absolute;
    top: 35%;
    font-family: 'Indie Flower', cursive;
    cursor: context-menu;
}

svg {
    font-size: 5em;
    font-weight: bold;
    text-transform: uppercase;
}

@media only screen and (max-width: 1190px){
    svg {
        font-size: 3em;
        font-weight: bold;
        text-transform: uppercase;
    }
}

@media only screen and (max-width: 1067px){
    .moving-bubbles-text {
        top: 25%;
    }

    svg {
        font-size: 2.5em;
    }
}

@media only screen and (max-width: 732px) {
    .moving-bubbles-textt {
        top: 15%;
    }
}

@media only screen and (max-width: 550px) {
    .moving-bubbles-text {
        top: 1%;
    }

    svg {
        font-size: 1.5em;
    }
}
