.buttons-images {
    display: flex;
    justify-content: space-evenly;
    height: 750px;
    padding-top: 70px;
}

.hide-buttons-images {
    display: flex;
    justify-content: space-evenly;
    height: 750px;
    padding-top: 70px;
    opacity: 0;
}



