.comment {
    width: 100%;
    // border: 2px solid red;
    display: flex;
    margin-top: 20px;
    .comment-image {
        width: 8%;
        margin-left: 30px;
        >img {
            border-radius: 50%;
            width: 50px;
            height: 50px;
        }
    }
    .comment-wrapper {
        width: 80%;
        .comment-full-name {
            font-family: 'Abhaya Libre', serif;
            color:  rgb(39, 49, 85);
            font-size: 27px;
            padding-top: 5px;
        }
        .comment-date {
            font-family: 'Abhaya Libre', serif;
            font-size: 16px;
            opacity: 0.5;
            padding: 15px 0 5px 0;
        }
        .comment-text {
            font-family: 'Abhaya Libre', serif;
            font-size: 19px;
            opacity: 0.8;
            text-align: justify;
            text-justify: inter-word;
        }
        .comment-wrapper-input {
            display: flex;
            align-items: center;
            margin-top: 10px;
        }
    }
}
